[2022-07-24 15:40] stew-j opened #4 "Problem running kons-9"
The problem is most likely because this system is so ancient, but FYI I was unsuccessful trying to run kons-9 on my only remaining Apple H/W:

Mac OS X 10.6.8
CCL 1.3

ASDF could not load kons-9 because Objective-C runtime exception:
-[NSCachedWhiteColor CGColor]: unrecognized selector sent to instance 0x146120.

[2022-07-26 05:48] mdbergmann commented on #4
I'm not entirely sure. But there were CCL versions partially specific to Mac OS X versions.
You could probably run CCL 1.7, or 1.8:
https://ccl.clozure.com/download-1.7.html

Maybe that would help with the ObjC runtime error.

[2022-07-26 13:28] stew-j commented on #4
Thanks! I wasn't sure which version would still run on the old Mini.  I'll give those two a try.

[2022-07-26 14:18] stew-j commented on #4
Of course, "the devil is in the details":

https://ccl.clozure.com/download-1.7.html

    $ svn co http://svn.clozure.com/publicsvn/openmcl/release/1.7/darwinx86/ccl
    Redirecting to URL 'https://svn.clozure.com/publicsvn/openmcl/release/1.7/darwinx86/ccl':
    svn: E170013: Unable to connect to a repository at URL 'https://svn.clozure.com/publicsvn/openmcl/release/1.7/darwinx86/ccl'
    svn: E1

[2022-07-26 19:11] stew-j commented on #4
^^^^
https://ccl.clozure.com/ftp/pub/release/1.7/

[2022-07-28 18:15] stew-j commented on #4
Which as predicted, caused other problems--ASDF is no longer finding the project in CCL 1.7 or 1.8.

    Error: module KONS-9 was not provided by any function on *MODULE-PROVIDER-FUNCTIONS*

the same message in both.

[2022-07-28 18:23] mdbergmann commented on #4
You can update ASDF to the latest. So you can then actually also use quicklisp.

Not sure, but maybe this helps:
http://retro-style.software-by-mabe.com/blog/House+automation+tooling+-+Part+1+-+CL+on+MacOSX+Tiger

[2022-07-28 21:09] #4 closed

[2022-08-12 06:10] kaveh808 opened #14 "sbcl Linux port"
Port the system to sbcl/Linux/OpenGL.

[2022-08-12 06:11] kaveh808 opened #15 "SBCL Windows port"
Port the system to sbcl/Windows/OpenGL.

[2022-08-12 06:13] kaveh808 opened #16 "sbcl MacOS port"
Port the system to sbcl/MacOS/OpenGL. Need to get off CCL, as it doesn't run on the M1 chip.

[2022-08-12 06:20] kaveh808 opened #17 "add find-closest-point method"
Implement a method `find-closest-point` for the class `polyhedron`. Ignore the shape's transform.

The returned point must be on the surface of a face, on an edge, or at a vertex or the polyhedron.

[2022-08-12 16:23] mtreis86 commented on #15
When loading I get an error:
`Don't know how to REQUIRE COCOA.
   [Condition of type SB-INT:EXTENSION-FAILURE]`

[2022-08-12 16:48] mtreis86 commented on #15
All defconstant forms seem to error with the function they're calling having not been defined. I am guessing this means SBCL defines constants before evaluation the rest of the form, so we probably need to wrap the functions they rely on in a eval-when.

[2022-08-12 17:11] mtreis86 commented on #15
The following files use the #_ ffi call in CCL which won't work in SBCL and will need to be addressed:
kernel/opengl.lisp
plugins/he-mesh.lisp
plugins/l-system.lisp
plugins/particle.lisp
ui.lisp

[2022-08-12 17:15] mtreis86 opened #18 "SBCL Port"
Here will be some things needed for SBCL to work, platform independent

[2022-08-12 17:15] mtreis86 commented on #18
When loading I get an error:
Don't know how to REQUIRE COCOA. [Condition of type SB-INT:EXTENSION-FAILURE]

The relevant file is ccl64.lisp, the contents of which can be selectively ignored by prepending each expression with #-ccl

[2022-08-12 17:15] mtreis86 commented on #18
All defconstant forms seem to error with the function they're calling having not been defined. I am guessing this means SBCL defines constants before evaluating the rest of the form, so we probably need to wrap the functions they rely on in a eval-when.

This affects at least the files kernel/color and kernel/point

[2022-08-12 17:15] mtreis86 commented on #18
The following files use the #_ ffi call in CCL which won't work in SBCL and will need to be addressed:
kernel/opengl.lisp
plugins/he-mesh.lisp
plugins/l-system.lisp
plugins/particle.lisp
ui.lisp

[2022-08-12 19:43] kaveh808 commented on #18
For the SBCL port, I moved (almost?) all the CCL/MacOS specific code to `opengl.lisp` and `minimal-ui.lisp`.

To help with your work, in `kons-9.asd` comment in minmal-ui and comment out ui. Also for now simply comment out any plugin files which are making OpenGL calls directly.

[2022-08-12 20:59] mikelevins commented on #16
Some quick notes about what we know at the start:

In principle, if CCL can do something, then SBCL can also do it. There are a few complications, though.

CCL relies on its very full-featured Objective-C interface. SBCL doesn't really have one of those--certainly nothing as mature and featureful as CCL's.

It should be possible in principle to reproduce what Kaveh's code needs by using SBCL's FFI

[2022-08-12 21:04] mikelevins commented on #16
Official APple references to the abovementioned Application Services functions:

TransformProcessType
https://developer.apple.com/documentation/applicationservices/1462420-transformprocesstype?language=objc

SetFrontProcess
https://developer.apple.com/documentation/applicationservices/1501042-setfrontprocess?language=objc

Apple periodically issues announcements that they will stop accepting app s

[2022-08-12 21:09] awolven commented on #16
GLFW works fine on Windows/Linux/MacOS, the only caveat is that on MacOS,
you have to present your framebuffer in the initial thread.

Also, I could have sworn I saw an Objective-C foreign function interface
library separate from CCL that could be used with SBCL.

On Fri, Aug 12, 2022 at 4:04 PM mikel evins ***@***.***>
wrote:

[2022-08-12 21:19] jolby commented on #18
@kaveh808 Would you be OK with adding a couple dependencies to help ease the porting to other platforms/lisp implementations? Looking at the opengl.lisp file, it looks like the static-vectors system would provide a portable implementation of make-heap-ivector. The cl-opengl system would provide a portable openGL interface. cl-opengl would also pull in cffi and alexandria.

[2022-08-12 21:29] kaveh808 commented on #18
@jolby Yes, by all means. I expected that as we went cross-platform we would need to add some dependencies. The ones you mention seem reasonable.

[2022-08-12 21:36] mikelevins commented on #16
@awolven I've tried code from your repos (and from other people's) to run GLFW from SBCL without nqualified success. I mean, I;ve gottne GLFW windows up, but always with some variety of breakage (e.g. closing the window throws an error in SBCL about bogus stack frames). I'm perfectly willing to believe that I'm doing it wrong; it would be lovely if someone showed me how to do it right.

There are

[2022-08-12 22:39] mikelevins commented on #16
A little more detail for correctness' sake:

cl-glfw exhibits the misfeatures I mentioned.

@awolven, I tried your cl-vulkan, but, after adjusting  load-foreign-libraries to find the VulkanSDK and libglfw.3.4, SBCL complains that it can't find the vulkan driver. I don't know what it's looking for and where it expects to find it. I haven't searched further yet because it's only one of several avenu

[2022-08-13 02:15] kaiwulf commented on #18
I decided to do a little exploring to see how far I can get with the program by taking out the CCL/macOS dependent code.

In `kons-9.asd` I commented out the requirement `(:file "ccl64")`.

In `package.lisp` I commented out line 2 `(:use #:common-lisp #:ccl)`

sbcl was then able to load `utils.lisp` and I got the error

`; in: DEFUN PRINT-CLASS-HIERARCHY
;     ((KONS-9::SUBCLASSES (KONS-9::CLASS-D

[2022-08-13 03:27] kaveh808 commented on #18
I think those meta-class calls are not part of the MOP standard, and are CCL specific. They are not being used elsewhere in the code, so you can just comment them out.

[2022-08-13 14:38] mikelevins commented on #18
Right: ccl::class-direct-superclasses is CCL-specific.

The MOP isn't part of the standard; it's just an informal de facto standard. sbcl has the sb-mop package, which proviudes its interpretation of the MOP, including sb-mop:class-direct-superclasses. If you want to be portable, you can quickload :closer-mop and use the symbols exported from it (which include closer-mop:class-direct-superclasses)

[2022-08-13 17:43] kaveh808 commented on #18
Done and pushed. Besides the MOP call (which can be commented out), the only ccl-specific calls were to `make-heap-ivector` and `dispose-heap-ivector` in opengl.lisp.

Pretty much all the calls starting with "#/" and the like are isolated in opengl.lisp and minimal-ui.lisp. I commented out  the files in kons-9.asd which made direct ccl calls -- l-system.lisp and particle.lisp

[2022-08-14 18:07] kaiwulf commented on #18
I attempted to run it with these new changes and am running in to a package lock error when attempting to run it:

[code]
Unfortunately this doesn't give me much to work with, so I can't track down the source of the error.

[2022-08-14 18:20] awolven commented on #18
cl-user> (symbol-package 'debug)
#<package "COMMON-LISP">
cl-user> (describe 'debug)
common-lisp:debug
  [symbol]

debug names an optimization policy quality:
  (undocumented)

cl-user> (defun debug ())
; Debugger entered on #<symbol-package-locked-error "proclaiming ~S as a
function" {1003C5BAC3}>

Apparently the symbol "cl:debug" cannot be defined as a function.

On Sun, Aug 14, 2022 at 1:07 PM

[2022-08-14 18:31] kaveh808 commented on #18
Fixed and pushed file utils.lisp -- renamed debug to my-debug.

On Sun, Aug 14, 2022 at 8:21 AM Andrew Wolven ***@***.***>
wrote:

[2022-08-14 21:17] jolby commented on #18
I had a go at translating the ccl/openGL FFI calls to use cl-opengl/CFFI. I just used a little emacs utility to do it in the buffer. I also added :cffi and :cl-opengl as dependencies in the .asd file, and commented out the loading of the other files in order to isolate the opengl/CFFI changes. The new opengl interface is in kernel/portable-opengl.lisp. The elisp utility is in tools/ .I am at least

[2022-08-16 00:36] kaveh808 commented on #18
Cool. Thanks for doing this.

I grabbed the code and had a go at replacing opengl.lisp with portable-opengl.lisp but ran into some problems.

I have narrowed it down. Just adding:

  :depends-on
  (#:cffi
   #:cl-opengl
   #:cl-glu)

to the kons-9.asd file (and without using portable-opengl.lisp) gives me:

;Loading #P"ccl:cocoa-ide;fasls;xinspector.dx64fsl.newest"........

;;;
;;; #<PROCESS Initi

[2022-08-16 01:10] jolby commented on #18
Hi @kaveh808. It wouldn't hurt to try quickloading those deps, just to be sure they load for you on your system without errors. If they do load and you're getting this error, then maybe there are stale fasls from your previous loading of the kons-9 system that are interfering with loading this stripped down version. If I start heavily editing a previously loaded system, I'll sometimes nuke my fasl

[2022-08-16 02:00] kaveh808 commented on #18
Thanks @jolby.

Did the quickloads, but same error.

Cleared out the fasl files in my cache, but same error.

If there is no easy solution, maybe no need to worry about this. This combination (CCL and cffi and cl-opengl) is not one we're targeting. It needs to work with SBCL down the road when we have a Mac port of SBCL/Cocoa.

[2022-08-16 23:17] jolby commented on #18
I've made some more progress on the sbcl/linux port. I've added the start of a cl-glfw3 backend and I'm at least able to get a window up with the grid lines and axes showing! @kaveh808 maybe you can see if you can run it on your mac system using sbcl? Same branch as before:
https://github.com/jolby/kons-9/tree/use-cl-opengl
![Screenshot 2022-08-16 4 10 56 PM](https://user-images.githubusercontent.

[2022-08-17 00:35] kaveh808 commented on #18
Most excellent. Pinging in @mikelevins who has been working on the SBCL/MacOS port. He will probably send out an update soon, but there are some thorny issues getting SBCL to work properly with Cocoa.

But this is great. Maybe comment in the kernel files and see if they load, and if so, try running the first few tests in demo.lisp?

Well done.

[2022-08-17 01:29] jolby commented on #18
Hi @kaveh808 - actually all the kernel files are loaded, along with several of the plugin files. I am able to try running the first few tests in the demo file, but for most of them I don't see any changes. I am able to run the transforms and hierarchy demo and it produces several smaller axes in addition to the central main one. When I run the rotate examples they all rotate. I'm not seeing any ot

[2022-08-17 01:44] kaveh808 commented on #18
Hmm, odd. If you see the axes and they rotate, that means the draw methods are being called. If you don't see any geometry, maybe check if the display flags have the correct values?

[code]

[2022-08-17 02:43] jolby commented on #18
@kaveh808 Cool-- That did the trick! I must have toggled those settings off when I was playing around hitting keys to see if glfw3 was capturing them and passing the key events on. It looks like I can run most of the demos. I'll keep playing around and see how it goes.
![Screenshot 2022-08-16 7 43 17 PM](https://user-images.githubusercontent.com/47862/185023049-50349e0b-f654-4e2d-98e5-da5552d00de9

[2022-08-17 03:55] kaveh808 commented on #18
Nice!

[2022-08-17 19:21] kaveh808 commented on #17
@foretspaisibles Would you be interested in tackling this issue? You seem to be mathematically inclined. :)

[2022-08-17 21:08] mikelevins commented on #18
I checked out jolby's code on an Ubuntu 22.04 system and loaded it in sbcl 2.1.11. I tried out about the first third of the code in demo.lisp and it all seems to work as advertised.

It doesn't work with cl-glfw3 and sbcl 2.2.6 on macOS.  Loading jolby's code works fine, and if I load it into a terminal session I can pose the glfw window. It renders the reference grid and the colored axes as expec

[2022-08-17 23:39] awolven commented on #18
Like I said before, with slime+sbcl+macos you can interrupt the initial
thread and run the glfw code from that interrupt function and it will work
just fine.  The main problem is that slime and sly stopped allowing access
to the initial thread in the inferior lisp buffer, which it used to do a
while ago.  I don't know why they removed that functionality, but the
workaround is simple.

On Wed, Aug

[2022-08-17 23:42] awolven commented on #18
PS, I have glfw support in cl-vulkan, but what's causing your hangs are
lack of proper event handling.  In vktk, I have code which shows how to set
up glfw event handling if you wanna take a look.

On Wed, Aug 17, 2022 at 6:39 PM Andrew Wolven ***@***.***> wrote:

[2022-08-18 00:25] kaveh808 opened #23 "Swap out 3D math classes"
Replace the existing `point.lisp` and `matrix.lisp` with Shinmera's classes (vectors, matrices, quaternions, and transforms).

Let's wait on this until the SBCL ports are done.

[2022-08-18 01:10] mikelevins commented on #18
I'll take a look. If you happen to have a particular piece of code in mind, feel free to guide me.

[2022-08-18 02:45] mikelevins commented on #18
Okay, I've got some better results to report.

Here's a screenshot of my slightly hacked version of jolby's hacked version of Kaveh's demo.lisp running on sbcl 2.2.6 on macOS with a SLIME session connected to it:

https://i.imgur.com/J5nXlc4.png

The window responds to events as expected.  C-x C-e in the demo.lisp buffer on the right causes the polyhedra to render as expected. I can close the glfw

[2022-08-18 02:49] mikelevins commented on #16
There's some forward motion on sbcl and macOS, as reported here:

https://github.com/kaveh808/kons-9/issues/18#issuecomment-1218954328

I'll make a fork to work on further, and post progress reports here.

[2022-08-18 02:53] kaveh808 commented on #18
Excellent!

That happens for me as well when I reopen a window. I suspect it's some OpenGL state I'm not initializing.

But really nice work.

[2022-08-18 20:15] awolven commented on #18
I got my mac out.  I'm running macOS Monterey 12.5.1, emacs 25.3.50.1, sbcl 2.1.7, slime 2.20, and I can open a glfw window and render graphics like this:

(sb-thread:interrupt-thread (sb-thread:main-thread) #'(lambda ()
								  (sb-int:with-float-traps-masked (:invalid
												   :inexact
												   :overflow
												   :underflow
												   :divide-by-zero) (main (make-instance

[2022-08-18 22:30] mikelevins commented on #18
We've got it working from both terminal and SLIME now. Failing to properly mask traps is the probabe culprit.

I've got Kaveh's demo.lisp code working with jolby's sbcl-related changes from SLIME on macOS. I have a couple of small things to fix and I'll post an update on Issue #16.

[2022-08-19 00:56] mikelevins commented on #16
The new branch "merge-sbcl-macos" now contains code merged from branch use-cl-opengl of jolby's fork (https://github.com/jolby/kons-9), and from some tinkering I did using input from reddit's /u/byulparan and from @awolven to yield a version of the code that compiles and loads in sbcl on macOS, and which can pose a working glfw window that responds properly to events, and which can execute about t

[2022-08-19 16:52] mikelevins commented on #16
Quick status update:

The code in branch "merge-sbcl-macos" is working on Monterey 12.5.1, but not yet on Apple Silicon. Superficially, it looks like it should work; brew installs Apple SIlicon-native versions of sbcl and glfw, but the quickload of cl-glfw3 fails to find the OpenGL framework.

/System/Library/Frameworks/OpenGL.framework is in the same place on the M1 Mac as it is on the Intel Mac,

[2022-08-19 17:23] mikelevins commented on #16
On the Intel Mac:

CFFI> (find-darwin-framework "OpenGL")
#P"/System/Library/Frameworks/OpenGL.framework/OpenGL"

On the M1 Mac:

CFFI> (find-darwin-framework "OpenGL")
NIL

/System/Library/Frameworks/OpenGL.framework/ is there on both systems, and a quick check with Kaleidoscope claims that they are identical.

find-darwin-framework does this:

[code]

...which should be looking for "/System/Libr

[2022-08-19 17:51] mikelevins commented on #16
Found it; the version of CFFI on my M1 mac was stale.

I can confirm that with the latest quicklisp client and dists, the "merge-sbcl-macos" branch of kons-9 works on Apple Silicon.

[2022-08-19 18:17] mikelevins commented on #16
Here's kons-9 running on sbcl 2.2.6 on an M1 iMac with Monterey (macOS 12.5.1):
![mercury-kons-9-sbcl-sm](https://user-images.githubusercontent.com/2352243/185682121-d2feb97f-d660-4321-9ec3-49fe736ff2c8.png)

[2022-08-19 19:16] jolby commented on #16
Wow- awesome work and tenacious debugging skills @mikelevins!

[2022-08-20 13:12] foretspaisibles commented on #17
@kaveh808 Ah ah yes, I actually paid some thoughts to it and try to figure out how to find the closest points on two disjoint polyhedrons. Need to experiment a bit with this!

[2022-08-20 16:21] kaveh808 commented on #17
Cool. I am actually looking for a point to a polyhedron, not two polyhedra. If necessary, you can make the simplifying assumption that  the polyhedron only has convex faces, or even is triangulated.

[2022-08-22 19:44] kaveh808 commented on #23
I also came across this, which is simpler (vec3 and mat4 only) and optimized for SIMD on SBCL, who are the developers.

https://github.com/nikodemus/sb-cga
http://nikodemus.github.io/sb-cga/

[2022-08-22 20:23] kaveh808 commented on #23
Also found this:

https://git.mfiano.net/mfiano/origin
https://quickdocs.org/origin

[2022-08-22 20:25] kaveh808 commented on #23
@foretspaisibles Do you have any strong preference between the above libraries? I'm thinking of sb-cga.

[2022-08-22 20:38] JMC-design commented on #23
Does sb-cga even work now that sb-simd has been added to sbcl after many changes while no changes have been made to sb-cga?

I am planning of adding origin to my point protocol so if you're interested in performance differences I can check that.  Though not sure how important that is, I think checking bounds with 3d-vectors was about 15x faster than clos based points, only about 8x using generics.

[2022-08-22 20:42] kaveh808 commented on #23
Two more options:

https://git.mfiano.net/mfiano/gfxmath

https://github.com/cbaggers/rtg-math

[2022-08-22 20:48] kaveh808 commented on #23
Don't know.

Checking on performance differences would be useful, thanks.

Some of my concerns are simplicity, the ability to dispatch on vector and matrix types in methods, and the ability to pass vectors efficiently  to OpenGL or other graphics engine.

[2022-08-22 21:05] awolven commented on #23
3d-vectors are structs.  3d-matrices are backed by common lisp arrays.  But
since 3d-vectors is row major and OpenGL is column major, causing you to
shuffle elements, the simplest thing to do is to unpack the array into a
foreign array when you need to pass it into GL, via a GL 1.1 command, or in
other graphics toolkits, to shaders.

I have been doing this for 4 years now and have experienced no p

[2022-08-22 21:15] kaveh808 commented on #23
The gfxmath docs mention doing computations in double precision and then passing single precision to the gpu.

3d-vectors and 3d-matrices seem to be the most elaborate and complete version. I just wonder if we need all the complexity involved, or if I'm over thinking things. :)

On a side note, if we were to use one of these libraries, what is the best way of doing so? Should we just do a Quicklis

[2022-08-22 21:41] awolven commented on #23
Many of these libraries I have written are on github, and if they are not
yet, i.e. Hemlock and Regen, they will be soon.  I could just take commit
requests and/or have separate branches of experimental stuff which could be
pushed to by users.  Quicklisp registration takes forever.

On Mon, Aug 22, 2022 at 4:15 PM Kaveh Kardan ***@***.***>
wrote:

[2022-08-22 21:45] kaveh808 commented on #23
Cool, thanks.

I was thinking specifically of the vector and matrix libraries. Should we just copy the code over to our project and then mess with it?

[2022-08-22 21:45] awolven commented on #23
You can "git submodule" anybody's libraries you like in kons-9.

On Mon, Aug 22, 2022 at 4:41 PM Andrew Wolven ***@***.***> wrote:

[2022-08-22 21:46] awolven commented on #23
no, use the git submodule facility, and we can submit commit requests to
shinmera/mfiano/|3b|, etc.

On Mon, Aug 22, 2022 at 4:45 PM Kaveh Kardan ***@***.***>
wrote:

[2022-08-22 21:48] awolven commented on #23
PS Right now the quicklisp version of 3d-vectors and 3d-matrices have some
issues compiling them in SBCL, those issues are easy to workaround though,
and I could at least inform shinmera of the problems or possibly submit a
patch.

On Mon, Aug 22, 2022 at 4:46 PM Andrew Wolven ***@***.***> wrote:

[2022-08-22 21:54] kaveh808 commented on #23
Got it. Thanks.

[2022-08-22 22:18] JMC-design commented on #23
Which version of SBCL?  I had no problems with 3d-vectors.
I'm not sure if any of mfianos future plans for his libraries will be realized. He seemed quite happy to jump over to Julia.
The gotcha with 3d-vectors is you can only have single or doubles, not both at the same time.

[2022-08-22 22:23] awolven commented on #23
both at the same time.

This isn't really a bad thing, Lisp developers should not have to
constantly decide whether to use single-floats or double-floats, and having
functions like (vec3f ...) and (vec3d ...)  to cause bugs with.  It's not a
performance issue on 64 bit machines, it is more of a space issue.

On Mon, Aug 22, 2022 at 5:18 PM Johannes Martinez Calzada <
***@***.***> wrote:

[2022-08-22 23:54] JMC-design commented on #23
It's a limitation that forces you to choose performance or precision.
Which might not be bad if you use singles for real time and then can switch to doubles for rendering, but then you might not get what you think you will.
I'm also not thinking of developers, I'm thinking of content creators.  I like to be able to view my stuff from different points of view. I also like not losing information in

[2022-08-23 00:18] kaveh808 opened #30 "get mouse dragging working"
Thanks to @jolby and @mikelevins , we now have a branch for testing the SBCL port: `merge-ccl-sbcl`.

Can someone with GLFW experience see about getting the `mouse-dragged` function in `minimal-ui.lisp` working so we can have 3D navigation? You can copy the code for mouse navigation from the CCL folder, or just get the function to be called and I'll do the rest.

[2022-08-23 02:31] kaveh808 commented on #30
I think I figured it out. Need to do some testing.

[2022-08-23 07:20] kaveh808 commented on #30
Fixed and pushed.

[2022-08-23 07:20] #30 closed

[2022-08-23 14:36] loskool commented on #14
[FYI]  I tried the commit 4f0b793 in the merge-ccl-sbcl branch this morning and I can run the code in sbcl/demo.lisp just fine!

I'm on debian 11, testing. I'm using sbcl 2.2.5

[2022-08-23 21:41] omarbassam88 commented on #14
I can confirm that the code in the branch `merge-sbcl-macos` is working on Linux. Except of course for the parts in the demo that reference Disk Files which I think should either be included in the repo with relative paths rather than absolute ones or at least point the user to how to get those models.

The viewport navigation is not working though. I don't know if it was done with COCOA and needs

[2022-08-23 21:50] kaveh808 commented on #14
That is an older branch. We're working a new one as we speak.

If you can't wait, grab a copy of the `pruning-ccl` branch. Navigation, animation, and window resizing are working.

Yes, I will be cleaning up the demos, including adding a data directory.

[2022-08-23 22:24] omarbassam88 commented on #14
Ok, I just tried it now. It's also working. But still viewport key-bindings are not working (probably because you are using [option] and [command] keys which is a Mac Only keys ( I tried using [Alt] and [Ctrl] but still doesn't work . Also, animation using (space) is not working. The viewport toggles work just fine. And I know that my input is well detected because it's being prited correctly in t

[2022-08-23 22:45] omarbassam88 commented on #14
Sorry my bad, it's now working perfectly. Only, one issue, We need include `:control` instead of `:super` key when on non-Mac inside the function `mouse-dragged`.
[code]

[2022-08-23 23:27] kaveh808 commented on #14
Cool. Thanks for testing. I'll make the change.

[2022-08-25 00:38] JMC-design commented on #15
Something to keep in mind for the codebase is that because of windows line endings you cannot use ~ in a format string to skip whitespace till the next character.
Right now the only instance of this is in printing the help which shouldn't be much of an issue since that should probably all be moved to a keybinding store and printed from that. It might be an issue later with docstrings.

[2022-08-25 02:39] #14 closed

[2022-08-25 02:39] #16 closed

[2022-08-25 02:39] #18 closed

[2022-08-25 06:46] kaveh808 opened #42 "Implement hierarchical motions"
Motion classes for hierarchical animation.

[2022-08-25 06:49] kaveh808 opened #43 "Enhance transform class: rotate order"

[2022-08-25 06:50] kaveh808 opened #44 "Enhance transform class: scale/rotate/translate order"

[2022-08-25 06:50] kaveh808 opened #45 "Enhance transform class: rotate pivot"

[2022-08-25 06:51] kaveh808 opened #46 "Enhance transform class: scale pivot"

[2022-08-25 06:52] kaveh808 opened #47 "New transform class: angle-axis-transform"
Use angle and axis instead of Euler angles for rotate.

[2022-08-25 06:54] kaveh808 opened #48 "New transform class: generalized-transform"
List of transform-operator instances instead of translate, rotate, scale.

[2022-08-25 06:57] kaveh808 opened #49 "Compensate when group parent/unparent"
Option to maintain global position when parent and unparent shape.

[2022-08-25 19:17] kaveh808 opened #50 "BUG: shading wrong when window re-opened"
Looking for a volunteer for this.

This is a bug on both MacOS and Linux, so is probably an OpenGL issue.

Open window.
Create polyhedron.
Close window.
Open window.
Shading is much brighter.

I suspect some OpenGL state is not being reset properly.

[2022-08-25 21:12] #43 closed

[2022-08-25 21:12] #44 closed

[2022-08-25 21:12] #47 closed

[2022-08-25 21:35] #45 closed

[2022-08-25 21:35] #46 closed

[2022-08-25 21:35] #48 closed

[2022-08-25 22:15] kaveh808 opened #51 "Encapsulate OpenGL drawing settings into a class"
Will allow quick switching between styles. I have noticed the default settings look chunky on some displays.

[2022-08-25 22:22] kaveh808 opened #52 "Explore Vulkan graphics"
An idea...

We could take `opengl.lisp` as our display API and see if we can write a drop-in replacement using Vulkan.

[2022-08-25 22:24] JMC-design commented on #50
Do you mean when you iconify or minimize the window? or after closing it and restarting?

[2022-08-25 22:26] kaveh808 commented on #50
Closing it using the ESC key. Then making a new window.

[2022-08-25 22:50] JMC-design commented on #50
Can confirm it becomes almost white.  Funny thing is, if it crashes then the change in shading doesn't happen.

[2022-08-26 00:07] #51 closed

[2022-08-26 00:37] kaveh808 opened #53 "Explore glop integration"
Let's see if we can implement the glfw functionality using glop, which some of you prefer.

The idea would be a rewrite of `minimal-ui.lisp` using glop.

[2022-08-26 00:40] kaveh808 opened #54 "Add start and end times for scene animation."
Necessary for hierarchical motions.

[2022-08-26 00:49] JMC-design commented on #23
So after making some preliminary backends of 3d-vectors and origin for my point protocol I've learned a few things.  It should have been obvious that generic dispatch on arrays is a bit of a mess. Origin has float and double versions of vec2 3 and 4. So in my 'fast' internal package every function is one big typecase.  Which  doesn't seem so bad considering 3d-vectors is pretty much typecases ever

[2022-08-26 00:51] #54 closed

[2022-08-26 00:55] kaveh808 commented on #23
Nice.

Did you try sb-cga? I'm curious about that one.

[2022-08-26 01:24] JMC-design commented on #54
I've been thinking that animators and animations should be separate.  With the animator assigning the animation to one or more shapes which can constrain the animation within their ranges of motion.
I had a similar  'animator' for 2d stuff before covid, and haven't thought of it since.  I also made use of this library https://github.com/vydd/easing

[2022-08-26 01:32] JMC-design commented on #23
Not yet.  I think that might only show advantage, if it does, over matrix multiplication.  It doesn't even have a multiply vector by vector so couldn't try that.  It was virtually the same as Origin when reducing by cross-product.
I think the bounds example is affected by access, and I'm a little surprised the struct access is faster than vectors, but Shinmera's got some interesting optimizations

[2022-08-26 01:38] kaveh808 commented on #23
Yes, we have to figure out how best to pack our data for GPU compute and rendering. For OpenL and/or Vulkan.

And then there's sb-simd... :)

[2022-08-26 01:47] kaveh808 commented on #54
Replying here: https://github.com/kaveh808/kons-9/issues/42

[2022-08-26 01:57] kaveh808 opened #55 "Display animation data in window title bar (for now)"
Until we have a proper timeline and sequencer.

[2022-08-26 19:01] JMC-design opened #56 "move to euler transform affects some demos"
Mainly the particle systems near the end of demo.lisp and make-uv-sphere-mesh which wants the old transform.

[2022-08-26 19:48] kaveh808 commented on #56
Thanks. I'll look into it after I push the motions update.

[2022-08-26 20:01] kaveh808 opened #57 "Implement OpenGL text engine"
Allow for the display of text in OpenGL views.

[2022-08-26 20:17] kaveh808 opened #58 "Reorganize demos"
- Split into different files.
- More documentation.
- Better organization.

[2022-08-26 20:26] kaveh808 opened #59 "BUG: scaling shapes affects shading"
Make cube and scale by (1 1 .2)

Probably need OpenGL normalize calls.

[2022-08-26 20:31] #42 closed

[2022-08-26 20:52] #56 closed

[2022-08-26 20:58] #59 closed

[2022-08-26 20:59] kaveh808 commented on #55
Fixed and pushed.

[2022-08-26 20:59] #55 closed

[2022-08-26 21:26] loskool commented on #57
I've had luck with [cl-fond](https://github.com/Shirakumo/cl-fond), though it uses a c library (also written by hafner, and available through quicklisp) to do the layout.

[2022-08-27 02:25] kaveh808 opened #60 "Implement basic scene management tools"
Need to be able to query scenes by object name, scene-path (i.e. dag paths), etc.

Also make demos for this.

[2022-08-27 07:02] kaveh808 opened #61 "Improve print-object"
Print useful info for some classes.

[2022-08-27 09:05] #61 closed

[2022-08-27 09:08] kaveh808 commented on #60
Done.

[2022-08-27 09:08] #60 closed

[2022-08-27 18:19] JMC-design commented on #57
Thought I'd try a quick hack. https://imgur.com/a/k0VCYFH
TIL old GL is slow as molasses drawing pixels. Totally useless.
Think I'll work on my font atlas.

[2022-08-27 21:44] kaveh808 commented on #57
What did you use for the text rendering?

I would be keen to get an example of a clickable button up in our UI soon.

Not sure if we should try cl-fond, or something more substantial such as Imgui which @awolven mentions in this discussion: https://github.com/kaveh808/kons-9/discussions/29

Or should we wait for glop first? Not sure how all the pieces fit together.

[2022-08-27 22:30] JMC-design commented on #57
I just used my font stuff to get cl-vector paths for the string, and then used a small render abstraction over cl-vectors to plot it a pixel at a time using gl:draw-pixels.  I didn't think it would slow everything down to 1 fps or less though, since it's able to do this over CLX which is way more pixels than in that text. https://www.youtube.com/shorts/-FlYBFlgc9Y .  I might have been doing someth

[2022-08-27 23:25] awolven commented on #57
What happens if you draw a bezier curve with LINES or LINE_STRIP
primitives?  Just curious.

On Sat, Aug 27, 2022 at 5:30 PM Johannes Martinez Calzada <
***@***.***> wrote:

[2022-08-28 00:26] JMC-design commented on #57
You just get an outline. Which is really useful in 3d, not so useful for reading :) I can't remember what discussion it was in, but i did exactly that, https://imgur.com/gallery/YvPt3RK .  Well, actually I cheated and didn't do beziers, transformed the path into only lines first and convert that to polygon.
To get a flat shape you'd need faces and  a boolean operator to cut out inner shapes.

[2022-08-28 01:37] JMC-design commented on #57
This is probably a better view, https://imgur.com/a/pTzC9aV .
And it's actually quite readable when not showing the points. Curves decimated to 100 lines.

[2022-08-28 02:05] awolven commented on #57
that looks good. if you make it small enough does it look like a regular
bitmap glyph?

On Sat, Aug 27, 2022 at 8:38 PM Johannes Martinez Calzada <
***@***.***> wrote:

[2022-08-28 02:58] JMC-design commented on #57
actually, it sort of does. But what are you going to do, group it with the camera so it's always facing the user? Because they're just polygons added to the scene.

[2022-08-28 07:02] kaveh808 commented on #57
For a prototype GUI, I'm wondering if we can create an ortho OpenGL view on top of the perspective one and do widgets and text rendering there.

[2022-08-28 15:37] JMC-design commented on #57
That's my thinking. I'm experimenting with writing a gl backend for my 2d draw system to test how fast/slow it is.  Could probably also use it to draw text if we remove antialiasing.
Should be serviceable if you don't mind flat square buttons, oh wait, thank you material design!

[2022-08-28 15:47] mikelevins commented on #15
Here's the latesst kons-9 running on sbcl 2.1.10 on my Surface Pro 8 (Windows 11 Pro, version 21H2). I walked through the demo-kernel.lisp file up to the point you see in the screenshot. Everything seemed to work fine. After taking this screenshot I closed the glfw window, then reopened it and held down the spacebar, and the rectangular prisms containued to rotate as expected.

I would note that t

[2022-08-28 16:10] mikelevins commented on #15
It’s now pushed to the repo in a branch named "SBCL-winter-tests". It’s just two files with very small changes, but you do need glfw installed. I’ll put the details in a doc.

[2022-08-28 16:34] mikelevins commented on #15
Okay, I added notes on running kons-9 on win64 to the sbcl-win64-tests branch.

[2022-08-28 16:45] mikelevins commented on #50
Can confirm is happens on Windows 64-bit as well as on macOS and Linux.

[2022-08-28 17:33] kaveh808 commented on #15
Excellent, thanks. Send me a PR when you feel it's ready.

[2022-08-28 20:17] kaveh808 opened #65 "Implement per-class object naming"
Generate default object names with a per class counter.

[2022-08-28 20:19] kaveh808 opened #66 "Implement basic duplication functionality for classes in the kernel"
Use a naive per class implementation for now and then see how best to elaborate on it.

[2022-08-28 22:56] kaveh808 commented on #65
I will continue with the current approach of uninterned symbols for object names. The lookup functions find-shape-by-name and find-motion-by-name require a scene for the lookup. This means garbage collection should not be an issue as we only find objects in a given scene. If we need more general functionality in the future, we can use weak hash tables.

[2022-08-28 23:42] #65 closed

[2022-08-29 13:58] mikelevins commented on #15
In case anyone wonders: I’m thinking about the best way to tell SBCL where to find the glfw DLL without essentially hard coding a drive letter and path (suggestions welcome). I think once that’s solved we can merge this tiny branch.

[2022-08-29 14:48] awolven commented on #15
If glfw is installed the from a normal glfw installation you can just do
this:

(cffi:define-foreign-library glfw3
  (:darwin "libglfw.3.4.dylib")
  (:windows "glfw3.dll")
  (:linux "libglfw.so.3"))

for other libraries do this:

(defmacro my-define-foreign-library (name-and-options &body pairs)
  `(cffi:define-foreign-library ,name-and-options
     ,@(mapcar (lambda (pair)
(list (first pair) (eva

[2022-08-29 15:20] richardjdare commented on #15
I've been playing with Kons-9 on Windows 10, SBCL 2.2.7 x86-64
If I minimize the app, or click its icon in the windows taskbar a couple of times to minimize/maximize it, I get a division by zero error and the window closes.

I think the problem is in window-size-callback in minimal-ui.lisp.
The w and h parameters are zero in this situation.

I've not been able to reproduce the issue on Linux.

Thi

[2022-08-29 15:36] JMC-design commented on #15
Richard, that sounds more like a windows issue.  Iconifying or minimizing a window in linux is a state, not a change in window size.  Seems like an easy fix though.

[2022-08-29 15:37] awolven commented on #15
they provide an installable executable

On Mon, Aug 29, 2022 at 10:33 AM Johannes Martinez Calzada <
***@***.***> wrote:

[2022-08-29 16:03] mikelevins opened #67 "bug: src/kernel/item not loaded"
kons-9.asd does not load src/hernel/item.lisp in commit e85f7d9.

Adding (:file "src/kernel/scene-item") to the components before (:file "src/kernel/scene") appears to resolve the issue.

[2022-08-29 16:45] JMC-design commented on #15
Do you have  link?  I only see zips.

[2022-08-29 17:58] richardjdare commented on #15
As per mikelevins [request](https://github.com/kaveh808/kons-9/discussions/8#discussioncomment-3501498) I checked out sbcl-win64-tests and worked through the document, [run-sbcl-win64.md](https://github.com/kaveh808/kons-9/blob/cd4eb022df7735cd696ae21992a183f1d48d87a5/doc/run-sbcl-win64.md)
I was able to follow the document and run demo-kernel.lisp on Windows 10. There were a couple of things that

[2022-08-29 20:20] #66 closed

[2022-08-29 20:32] kaveh808 commented on #23
Is someone willing to investigate how we can have vector and matrix operations with SIMD support, now that SBCL has them?

Maybe start here?

https://github.com/nikodemus/sb-cga
http://nikodemus.github.io/sb-cga/

[2022-08-29 20:33] JMC-design commented on #53
So while writing a key binding back end for glop I noticed it doesn't accept modifiers in it's on-key on-button methods, nor does it report modifiers in it's events.  That's probably acceptable in games, but not for an application I think, especially if you want to allow people to customize their keybindings.

[2022-08-29 20:35] kaveh808 commented on #53
Yeah, we definitely need modifiers.

[2022-08-29 20:39] kaveh808 commented on #67
Fixed.

[2022-08-29 20:39] #67 closed

[2022-08-29 20:41] kaveh808 opened #69 "Add is-visible? and is-active? slots"
Add `is-visible?` to shapes.

Add `is-active?` to motions.

Make demo test for them.

[2022-08-29 22:40] #69 closed

[2022-08-29 22:44] kaveh808 opened #70 "Document kernel files."
Write basic overviews and docstrings as necessary.

[2022-08-30 00:46] kaveh808 opened #72 "Implement command table for UI key bindings"

[2022-08-30 02:15] #72 closed

[2022-08-30 03:30] kaveh808 opened #73 "Implement 3d picking of shapes"
[Need someone for this.]

Initially by clicking on just shapes in the 3D view.

Requires some knowledge of OpenGL.

Later, it can be extended to mesh parts (face, edge, vertex) of poly-mesh at some point.

[2022-08-30 13:29] mikelevins commented on #15
Like JMC, I don't see an installable executable from glfw.org for 64-bit Windows; I see only zips containing readme, license, docs, and DLL binaries.

So I followed the instructions I found here:

https://subscription.packtpub.com/book/application-development/9781782169727/1/ch01lvl1sec13/installing-the-glfw-library-in-windows#:~:text=Download%20the%20source%20package%20from,and%20open%20cmake%2Dg

[2022-08-30 14:06] mikelevins commented on #15
@richardjdare I modified the Windows instructions on the sbcl-win64-testing branch per your suggestions. Let me know what you think.

[2022-08-30 18:51] awolven commented on #15
I gave in some post a way to derive the shared object directory from the
asdf system:

(defmacro my-define-foreign-library (name-and-options &body pairs)
  `(cffi:define-foreign-library ,name-and-options
     ,@(mapcar (lambda (pair)
(list (first pair) (eval (second pair))))
      pairs)))

(my-define-foreign-library cimgui
  (:darwin (asdf/system:system-relative-pathname :vktk
"ifc/lib/cimgui.dyl

[2022-08-30 19:23] mikelevins commented on #15
@awolven okay; fair enough. I previously solved a slightly different problem with CFFI and dylibs on macOS in a way that was kind of similar in spirit to your suggestion. I was hoping to avoid similar hackery here, but such is life.

Also, it would have been awfully nice to find a windows installer for glfw, but again, that's the way it goes. I'll figure it out.

[2022-08-30 19:36] kaveh808 opened #74 "Make command table demo"

[2022-08-30 19:37] #74 closed

[2022-08-30 19:52] kaveh808 opened #75 "Implement basic 2D graphics for GUI"

[2022-08-30 20:16] awolven commented on #75
a basic substrate is being created for this, for the purpose of supporting
text, but can be used for any 3d shapes.  more to come.

On Tue, Aug 30, 2022 at 2:53 PM Kaveh Kardan ***@***.***>
wrote:

[2022-08-30 20:16] richardjdare commented on #15
@mikelevins thanks, that's great.

[2022-08-30 20:16] awolven commented on #75
* 2d shapes

On Tue, Aug 30, 2022 at 3:16 PM Andrew Wolven ***@***.***> wrote:

[2022-08-30 20:31] kaveh808 commented on #75
Excellent.

I'm working on 2D code for displaying popup menus. Looking forward to plugging in the text display when it's ready.

I think the main thing I'll need to start with is the ability to display centered text in a rect.

Hope I'm not duplicating what you're doing. I was going to push later today but I can hold off if you prefer.

[2022-08-31 02:55] #75 closed

[2022-08-31 03:08] kaveh808 opened #77 "Implement basic mouse interaction with the prototype menus"

[2022-08-31 22:05] #77 closed

[2022-09-01 09:58] foretspaisibles commented on #23
@kaveh808 I do not have worked with these libs but I can review them.

A usual tidy point to performant computing when programming is memory allocation: it is necessary to have facilities to write something like “please write the sum of A and B into C” and it is a bit in tension with our habit to write code in a more functional style.

[2022-09-01 15:23] JMC-design commented on #23
If you want points as arrays, I'd suggest going with origin then.  Both origin and 3d-vectors are ~6x faster for the simple benchmark you added for your change, at least on my machine.

[2022-09-01 18:55] kaveh808 commented on #23
@JMC-design OK, let's use Origin, with an eye to adding SIMD to it later.

What's the best system way to add it to our project? I do want to make some changes and extensions to it.

@foretspaisibles Origin has those kinds of functions for reducing memory allocation. Would be interesting to use them in the internal mat/vec code.

[2022-09-01 19:34] JMC-design commented on #23
Note I'm still not sure whether the vectors in origin will be faster when packing points for the gpu or simd.
I think we need a non trivial test case to determine that.
I was a little surprised that the structs used by 3d-vectors where faster at bounds checking than origin, and that was just min max comparisons and setfing into the result. Then again, I don't understand everything Shinmera is doin

[2022-09-01 19:38] kaveh808 commented on #23
I'm happy to punt the SIMD stuff until later.

Origin looks nice and clean, and also has some raycasting code which we may be able to use.

Let's get it into our project and I'll make the changes throughout the codebase. :)

[2022-09-01 23:57] kaveh808 opened #82 "Add Origin library to project"
@JMC-design

https://git.mfiano.net/mfiano/origin
https://quickdocs.org/origin

[2022-09-02 04:58] JMC-design commented on #82
So I've already got a branch working with my point protocol, with all point stuff package prefixed with p: so I can just copy that over and have a slight indirection in a P: package wrapping origin, or I can just change those prefixes to origin.vec3 and it should be good to go. or maybe that should be origin.vec4 to be ready for transforms or else we cant use them as is.
I think some indirection m

[2022-09-02 05:25] JMC-design opened #83 "motion is-active? demo"
When an object becomes inactive and then activated some time later, it will jump to the position it would have been in had it not been inactive.
Is this the desired behaviour, or should an object resume from where it was left off?

[2022-09-02 06:06] kaveh808 commented on #82
Sounds good. Let's put the wrapper around origin.vec4.

[2022-09-02 06:10] kaveh808 commented on #83
That depends on what the animator is doing. Animators and motions are active, not shapes (objects).

If it is setting a transform based on the frame number or time value, the object will jump.

If it is doing something like a dynamic simulation, then the object may pick up where it left off.

[2022-09-02 06:40] JMC-design commented on #82
sure thing, will do tomorrow morning.

[2022-09-02 19:02] JMC-design commented on #82
So this isn't quite that simple.  origin, in it's being 'correct', doesn't do things like cross-products of vec4's, or if you want to scale by number it will scale w, so it's like you need some functions from vec3 some from vec4.
I remember mfiano expressing frustration over separate functions for each type, this might be why mfiano created gfxmath after this and then completely jumped ship to jul

[2022-09-02 19:10] kaveh808 commented on #82
In that case let's wrap around vec3. That will do us fine.

[2022-09-03 08:43] starkaiser opened #85 "Text engine problem - black window"
Branch: main
Platform: Devuan GNU/Linux x86_64, SBCL version 2.1.1.
Commit: kaveh808/kons-9@7ff30156e851aeac3f6960336dcffa923cfcaba4
I have downloaded the latest sources and now when I try to start `(run)` or `(run-1)` I get a black window or a window with the background as in the gif. If I comment `(:file "src/graphics/opengl/text")` in kons-9.asd and the lines corresponding to the text engine in

[2022-09-03 15:08] mikelevins opened #86 "plugin/procedural-polygon fails to compile"
Branch: main
Commit: [7ff3015]
Platform: macOS 12.5.1, SBCL 2.2.6

Steps to reproduce:

1. Start SBCL
2. Load kons-9.asdf
3. (asdf:load-system :kons-9)

Expected result: System loads. Can create demo window.

Actual result: COMPILE-FILE-ERROR while compiling "src/plugins/procedural-polygon"

Compiling the file separately yields:
procedural-polygon.lisp:86:1:
  warning:
    Duplicate definition for

[2022-09-03 16:23] starkaiser commented on #86
On GNU/Linux I am not able to reproduce the bug. The project is loaded fine.

[2022-09-03 16:35] starkaiser opened #87 "demo-uv-mesh error"
Branch: main
Commit: 7ff30156e851aeac3f6960336dcffa923cfcaba4
Platform: Devuan GNU/Linux x86_64, SBCL version 2.1.1

When I try to run the first demo in demo-uv-mesh.lisp I get the following error:
[code]
Similar for demo 07. All other demos work.
[code]

[2022-09-03 18:01] awolven commented on #85
what platform are you on?

On Sat, Sep 3, 2022 at 3:44 AM Sorin Cătălin Păștiță <
***@***.***> wrote:

[2022-09-03 18:03] awolven commented on #85
try loading kons-9 with (asdf:oos 'asdf:load-op :kons-9 :force t)

On Sat, Sep 3, 2022 at 1:00 PM Andrew Wolven ***@***.***> wrote:

[2022-09-03 18:13] mikelevins commented on #86
What version of which distribution are you using, and how did you install freetype?

On Debian Bullseye, the asdf load of cl-freetype2 failed on loading freetype, so I used apt to install libfreetype (apt install libfreetype-dev). The asdf load of cl-freetype2 then succeeds, but when I asdf:load-system of kons-9 I see the same error that I saw on macOS:

COMPILE-FILE-ERROR while compiling
   #<CL-

[2022-09-03 18:18] kaveh808 commented on #86
My bad. Will fix and push. Funny I didn't get an error either, but there was a duplicate macro call in the file.

[2022-09-03 18:19] mikelevins commented on #86
Interesting. Different defaults in different versions of sbcl, maybe?

[2022-09-03 18:23] mikelevins commented on #15
I have a locally-working script that downloads and unpacks glfw 3.8.8 on Windows in a project-local lib directory that is gitignored (so we don't stuff binaries into the repo).

It's in the "SBCL-win64-tests" branch, but not thoroughly tested, and not yet using proper pathnames. When I've addressed those failings, I'll try it with updated code from main and if it looks like it's working, send a PR

[2022-09-03 18:34] #86 closed

[2022-09-03 18:34] #87 closed

[2022-09-03 18:35] kaveh808 commented on #87
@starkaiser Thank you for testing the demo files. :)

[2022-09-03 19:12] awolven commented on #85
What's the current status of this issue for both Sorin and Kaveh?

Did you load with :force t to recompile lisp files between
branch/checkout/source-code changes?

What monitor are you using on mac?

What video card are you using?

What branch are you using?  Are there any source modifications?

What is your procedure for replicating the bug?

-AKW

On Sat, Sep 3, 2022 at 1:03 PM Andrew Wolven ***

[2022-09-03 19:31] kaveh808 commented on #85
Built-in MacBook Pro display
Intel Iris Graphics 550 1536 MB

Try 1)
Did :force t and recompile.
Text appears properly. Can drag 3D camera. Hangs when clicking on close window widget.

Try 2)
Text appears properly. Can drag 3D camera. Able to close window using Escape key. Re-open window. Crash when click in window:

[code]

[2022-09-03 19:33] starkaiser commented on #85
Platform: Devuan GNU/Linux chimaera, x86_64, SBCL 2.1.1.
Branch: main
Commit: 7ff30156e851aeac3f6960336dcffa923cfcaba4
CPU: Intel Core 2 P8600 (2) @ 2.401GHz
GPU: Intel Mobile 4 Series Chipset
Machine: Thinkpad x200

I have change only the pathname to the font in function `(ensure-font)`, line 208 in text.lisp to a font that exists on my machine. I follow the method of loading kons-9 described in

[2022-09-03 19:43] kaveh808 commented on #85
The p-scale was a bug and I just pushed a fix.

Not sure why you're seeing the other warnings.

[2022-09-03 19:50] starkaiser commented on #85
Tried with the latest source. Still no luck.

[2022-09-03 19:54] awolven commented on #85
You have to tell me what you tried.

On Sat, Sep 3, 2022 at 2:50 PM Sorin Cătălin Păștiță <
***@***.***> wrote:

[2022-09-03 19:57] kaveh808 commented on #85
Found a bug in point-simd. give me a few to fix it.

[2022-09-03 20:11] kaveh808 commented on #85
Pushed. Try again?

[2022-09-03 20:23] starkaiser commented on #85
Same problem. I also get this if I run SBCL from terminal
[code]
What I did:
1. clone the repository
2. change the pathname in text.lisp, line 208 to point to a font on my machine
3. (ql:quickload "kons-9")
4. (in-package :kons-9)
5. (run)
Also tried to load the project as the @awolven sugested and I get the same result. I will do some more tests and investigations. Maybe I can provide you guys wi

[2022-09-03 20:26] kaveh808 commented on #85
Try 3)

[The way I get different behavior each time makes me wonder if something is not properly initialized.]

Window opens and immediately crashes.

2.1
Date/time: 2022-09-03-10:18!
An unhandled error condition has been signalled: Unhandled memory fault at #x0.

Backtrace for: #<SB-THREAD:THREAD "main thread" RUNNING {10016C80A3}>
0: ("bogus stack frame")
1: ("foreign function: _copyResourceURLs

[2022-09-04 02:07] kaveh808 commented on #85
@starkaiser I found and fixed all the problems you were having with undefined symbols earlier today. My apologies. Let me know if you continue to have any issues.

[2022-09-04 03:50] robotjunkyard commented on #85
Platform and Lisp:  Linux Mint 20.3 x86_64, SBCL 2.2.5

I am getting this too, using commit a7f20b0ebf5.  The only local code I changed was making ensure-font's optional parameter be (pathname "./monaco.ttf"), pointing to a locally-copied version of the monaco font, instead of the other path (I presume that's a MacOS-style path)

I tried `(asdf:oos 'asdf:load-op :kons-9 :force t)` as someone sugge

[2022-09-04 04:00] robotjunkyard commented on #85
In the function `show-window`, adding a `(format t "blahblahblah A, B, C...")` trace output line before each line that's in the function's primary loop shows that only the text before `(draw-scene-view *default-scene-view*)` gets printed before the whole thing apparently seems to just stall.

[2022-09-04 15:39] awolven commented on #85
always put in a finish-output to know that for sure

On Sat, Sep 3, 2022 at 11:00 PM robotjunkyard ***@***.***>
wrote:

[2022-09-04 17:04] starkaiser commented on #85
Branch: main
Commit: a7f20b0ebf58df3462df853a9775f3b51622bd71
@kaveh808 Unfortunately that did not fix the problem with the black window.
But I have managed to track down the problem. I put `(format t "Breakpoint ...~%")` repeatedly after each instruction, following the order in which the functions were called to see where the program would get stuck. The problem seems to be in `(render-draw-lists

[2022-09-04 17:07] starkaiser commented on #85
My bad, is not a recursive call, is another function with a similar name: render-draw-list and render-draw-lists

[2022-09-04 17:23] kaveh808 commented on #85
In one of my crashes, I got the following stack trace:
[code]

[2022-09-04 17:31] robotjunkyard commented on #85
I did this, and it no longer hangs.  I finally see a window with a workspace in it:

![image](https://user-images.githubusercontent.com/5356648/188326011-5330ebcb-d691-425c-b6f5-bbe89bc1239d.png)

[2022-09-04 17:34] starkaiser commented on #85
@kaveh808 You too have the crash when there are three calls in `(test-text)`? Does it work with two calls?

[2022-09-04 17:48] kaveh808 commented on #85
@starkaiser Yes I do. Seems to be ok with two calls.

[2022-09-04 17:50] starkaiser commented on #85
Then maybe you can comment one call and push the changes to main so we can have a working setup? And we can make another branch to make further tests on the text engine and solve the issue

[2022-09-04 17:53] kaveh808 commented on #85
OK. I'll comment out all calls to the text functions in minimal-ui.lisp for now and push. Then you can make a text branch.

Sound good?

[2022-09-04 18:09] kaveh808 commented on #85
@starkaiser Pushed. Please test and let me know.

[2022-09-04 18:27] starkaiser commented on #85
Looks good for now. test-demos.lisp works great. I will make another branch to make more tests on the text engine. If I find something, I will let you know

[2022-09-05 21:10] #83 closed

[2022-09-05 21:11] kaveh808 opened #90 "Optimize OpenGL Drawing"
Use vertex arrays and the like to speed up the current naive drawing code.

[2022-09-05 21:27] bigos opened #91 "Where are the Discussions?"
The https://github.com/kaveh808/kons-9/blob/main/README.md mentions:

Where are the discussion? The link would be very helpful.

[2022-09-05 21:33] kaveh808 commented on #91
https://github.com/kaveh808/kons-9/discussions

[2022-09-05 21:38] bigos commented on #91
https://github.com/bigos/kons-9/blob/main/README.md

like this?

[2022-09-06 02:18] JMC-design commented on #90
it's been over 5 years since the last release of Opengl, there probably shouldn't be any reason to target anything but the latest.  But since the writing is on the wall, perhaps some thought should be put into how to abstract over both opengl and vulkan.  Though I'm thinking that might need somebody familiar with vulkan.
If not, then there's choosing an abstraction to handle modern gl or write yet

[2022-09-06 03:11] jolby commented on #90
Regarding the need to keep our eyes on the next graphics API as @JMC-design was talking about: Piet-gpu is a good project to follow. They have a 2d/font focus, but they are pushing the envelope for doing as much of the compute for a UI on the GPU:
https://github.com/linebender/piet-gpu
project vision:
https://github.com/linebender/piet-gpu/blob/main/doc/vision.md
.. And Raph Levien has some fantas

[2022-09-06 04:11] JMC-design commented on #90
Might also want to set a bar for minimum gpu memory, I guess that's something that needs to be tracked, such a weird concept.
I've run across piet when looking for ideas on a rich text sort of api.  I'm not sold on specifying ranges, though it is nice that it allows the text to be unmodified.  I'm still leaning towards something I can read or write to a stream, so list of objects and lists that ch

[2022-09-06 04:31] JMC-design commented on #90
yet another opengl abstraction for lisp
https://github.com/jl2/simple-gl

[2022-09-06 19:38] mikelevins commented on #15
I haven't pushed the code that automates downloading and loading glfw because I;ve been sidetracked debugging some quicklisp/sbcl issues that seem to be related to recent releases of sbcl.

In case anyone else is working with sbcl and quicklisp on Windows 11, I'll briefly describe what I've observed:

I'm seeing several basic quicklisp libraries failing to load with sbcl versions 2.2.6, 2.2.7, and

[2022-09-06 20:56] kaveh808 commented on #90
I am very keen to maximize use of the GPU as well as SIMD and multiple cores. I really want our system to be able to handle production-level datasets with the same (or better) speed as commercial packages.

How we architect this (improved OpenGL interface, Vulkan, compute on GPU) is something we should discuss.

If we do have a Vulkan enthusiast, a first step could be to implement the equivalent o

[2022-09-07 01:05] JMC-design commented on #15
So you're compiling from source?  Is there the same issue on win10?
I've only tried the binary release 2.0.0. on 10, which is probably my last version of windows ever.

[2022-09-07 01:14] awolven commented on #15
Mikel: Is it a problem which could be addressed by asking the sbcl
implementers?

On Tue, Sep 6, 2022 at 8:05 PM Johannes Martinez Calzada <
***@***.***> wrote:

[2022-09-07 11:14] richardjdare commented on #15
I've not had any issues building on Windows 10. I just tried it on my work machine, with a fresh clone of kons-9 and a fresh install of sbcl 2.2.8 and quicklisp.

[2022-09-07 13:27] JMC-design commented on #90
So I've just drawn my first triangle using vertex arrays and here are some of my initial thoughts.
I'm assuming we'd like to fill buffers by just sending a list of points? What I've done for a test is just fill up a cl array, grab the vector-sap, and use that to fill buffers.  With points we have to pack them. Do we pack into a cl array, pin and use, or just pack directly into a foreign array, and

[2022-09-07 15:54] awolven commented on #90
You could look at the text engine to see how vertex arrays are used there.

There seems to, however, at least on linux, been a change in the version of
opengl used, rendering the text engine useless.  I'm trying to fix it, but
it would be nice to know if there is going to be a version change before I
spend a lot of time targeting a specific version.

On Wed, Sep 7, 2022 at 8:27 AM Johannes Martine

[2022-09-07 16:16] mikelevins commented on #15
I need to investigate the sbcl/quicklisp issues further.

I have several Windows systems that I'm working with, including two that are Windows hardware and two that are VMWare VMs. One piece of hardware is running Windows 11 Pro; the remaining systems are running Windows 10 Pro.

All of the problems I've seen occurred on the Windows 11 Pro hardware after a fresh install of sbcl 2.2.8, and a fresh

[2022-09-07 16:22] mikelevins commented on #15
I did install 2.2.8 by building from source in one test, but in the other cases I installed from binary installers available here:

https://sourceforge.net/projects/sbcl/files/sbcl/

[2022-09-07 16:25] mikelevins commented on #15
That's useful information. I should test the hypothesis that it's somehow related with the Windows version (though that seems a little far-fetched to me). If anyone can build and test kons-9 with sbcl 2.2.8 on Windows 11 Pro, I'd like to know about  it.

[2022-09-07 16:35] JMC-design commented on #90
I tried, but it reads like c and I don't see any lispy abstraction. The only thing I see is direct writing of individual bytes to foreign memory.

[2022-09-07 16:39] JMC-design commented on #15
Doesn't sound far fetched. Windows 11 is pretty bad to play opengl games on. I think it's the first time Linux does a better job overall.  I think at the very least we have to be religious about setting/unsetting state, because maybe win11 isn't so careful and leaks stuff, and since we leak stuff(change in shading being an example or has that been fixed?) together probably makes a bad fit.

[2022-09-07 21:08] kaveh808 commented on #15
The OpenGL shading change on window reopen has not been fixed.

[2022-09-07 22:28] #91 closed

[2022-09-07 22:48] kaveh808 commented on #90
These are good questions, and there are a lot of moving parts on how we encode geometry: ease of editing in CL, optimized OpenGL display, for SIMD, for threads.

One possibility I have been mulling over is whether we should keep a low-level C representation which can act like an old school display list for our geometry classes. We would need to sync up the CL point arrays with these C-type vectors

[2022-09-08 05:32] awolven opened #93 "kons-9 is using opengl v4.6 on Linux and opengl v2.1 on macos which are fundamentally incompatible versions"

[2022-09-08 07:58] kaveh808 commented on #93
I came across this:

https://stackoverflow.com/questions/65802625/develop-using-opengl-4-x-on-osx-big-sur

[2022-09-08 16:17] JMC-design commented on #93
well it shouldn't be hard to limit to 4.1 until something like this is drop in replacement. https://github.com/openglonmetal/MGL

[2022-09-08 19:28] awolven commented on #93
(glfw:with-init-window (:title "kons-9" :width (first *window-size*)
:height (second *window-size*)
				     :context-version-major 4 :context-version-minor 1
				     :opengl-forward-compat t :opengl-profile :opengl-core-profile)

...)

On Thu, Sep 8, 2022 at 11:17 AM Johannes Martinez Calzada <
***@***.***> wrote:

[2022-09-08 20:50] kaveh808 commented on #93
Is there a way of getting our existing OpenGL code working with 4.1 on MacOS? If not, what changes are necessary?

I tried the above snippet and got:
[code]

Found this link: https://stackoverflow.com/questions/48249518/opengl-error-1282-invalid-operation-when-using-glut-3-2-core-profile

Tried some other flags, including `:opengl-profile :opengl-compat-profile` but got:
[code]

[2022-09-08 21:05] kaveh808 commented on #93
Looks like Apple does not support deprecated OpenGL past 3.2:

https://www.khronos.org/opengl/wiki/Legacy_OpenGL

So we will have to rewrite all our graphics code (which we were planning to anyway) to move to 4.1.

The question now is what is the best platform to target -- OpenGL 4.1, Vulkan, etc.

In the meantime, we'll keep MacOS at 2.1 and use different versions of Andrew's text engine for MacO

[2022-09-08 23:45] kaveh808 commented on #85
@starkaiser @robotjunkyard Can you please test the `text-engine` branch? Andrew has fixed the crash bug.

You will still need to set the ttf font pathname by hand.

[2022-09-08 23:46] kaveh808 opened #96 "Handle monitor content scale"
Use `glfw:get-monitor-content-scale` to properly handle retina-style monitors.

[2022-09-08 23:47] kaveh808 opened #97 "Rename polygon class to curve"

[2022-09-08 23:49] awolven commented on #85
I had opengl error checking off when I tested this. So it might complain
about something that can just be commented out.  Such as with saving and
restoring the gl state.

On Thu, Sep 8, 2022, 6:45 PM Kaveh Kardan ***@***.***> wrote:

[2022-09-09 01:49] #97 closed

[2022-09-09 01:50] JMC-design commented on #90
good eats
https://www.youtube.com/watch?v=K70QbvzB6II

[2022-09-09 08:34] kaveh808 opened #98 "Implement animation class"
Package shapes & motions to allow animation instancing.

[2022-09-09 16:11] edward-cornell commented on #93
This might be an opportunity to abstract the rendering "backend".  Should you spend your time chasing bugs in compatibility hacks or work up front on a flexible architecture that supports either OpenGL or Metal (etc.) directly?  Remember you are interacting with a *scene graph*, which already is an important abstraction towards this approach.  SGI's Open Inventor (while at times a little too "conj

[2022-09-09 19:32] kaveh808 opened #99 "Prevent Z fighting between world axes and ground plane"

[2022-09-09 23:26] #96 closed

[2022-09-09 23:26] #98 closed

[2022-09-09 23:26] #99 closed

[2022-09-10 09:17] foretspaisibles commented on #90
Does it include distributed computing as a goal? :-)

[2022-09-10 09:39] kaveh808 commented on #90
Down the road, why not? :)

[2022-09-10 13:21] edward-cornell commented on #90
Because would be a 30MB SBCL runtime per node?  I really wish there was something like MirageOS (which uses OCaml) for Common Lisp or Scheme.

[2022-09-10 13:31] edward-cornell commented on #90
I'm a bit full from their 130 page slide deck on optimization.  Looks like OpenGL 4.2+ only, which caused a stomach rumble.  Sometimes I wonder, "Why can't we just implement OpenGL in pure Common Lisp and be done with it?"

[2022-09-10 14:54] JMC-design commented on #90
I think the approach is still interesting. Today I'm going to try and test if it makes any difference packing arrays from different types of points, into cl arrays that are pinned and sent,  as well as foreign arrays and sent.
In my brain it doesn't seem like there'd be much difference.
Besides un/packing structured bits to be sent is on my todo list, calling it pipeline.  For use with a new CLX a

[2022-09-10 16:17] edward-cornell commented on #90
I agree, especially given the potential performance improvement.  (I don't like vinegar on my salad, but wouldn't suggest other people shouldn't enjoy it, if you can tolerate one more food joke.)  Thank you for posting the link and doing the testing.

I don't have a (capable enough) Mac to try it out on either, but if you do have success I wonder if it would help for you to post a simplified gist

[2022-09-10 17:02] robotjunkyard commented on #85
I am able to run this now without it immediately crashing

[2022-09-10 17:12] JMC-design commented on #90
Trying to come up with a good test for display as well.  But so far, with just 333,333 points there's no time difference in packing cl arrays from either origin vectors or 3d-vector structs.  From vectors uses slightly less cpu, but I probably need more points, since this is all taking ~0.004 seconds. .020 using generic functions.
submitting cl arrays to gl by pinning them and passing the pointer

[2022-09-10 18:19] JMC-design commented on #90
so here's just some basic testing. If you make smaller arrays then origin's lead widens.  whether it's worth the trade off in not being able to dispatch on...
But the surprising thing is the foreign being slower.  If we can depend on just using sbcl to send pointers then i'm not sure what the benefit is.

https://plaster.tymoon.eu/view/3413#3413

[2022-09-10 19:09] kaveh808 commented on #90
Nice work. Is the cost of sending sbcl pointers and ffi arrays to OpenGL (and GPUs) the same?

On a slight tangent, should we bite the bullet and go with double-float as our default? Or is the performance hit a serious one?

[2022-09-10 20:15] JMC-design commented on #90
i can't see why it would be different as they're both just pointers to memory. Unless being in sbcl's mem space somehow affects it.  That's why I think an actual drawing test might elucidate further. at least just in terms of packing/repacking something over and over.

I don't know if I've been reading out dated stuff, but what I've seen is that lots of opengl drivers will just convert to single a

[2022-09-11 07:52] starkaiser commented on #85
![kons-9](https://user-images.githubusercontent.com/37039370/189517561-28b3f830-4724-4f37-9c3c-1b8b738c969a.png)
Now it works!

[2022-09-11 18:15] kaveh808 commented on #85
Thanks for testing, guys. Looking forward to the beginnings of a GUI.

[2022-09-12 12:36] andi23rosca commented on #52
alternative option, use webgl like mach does to abstract over vulkan / opengl / metal / etc.

[2022-09-13 08:52] lukego opened #104 "Performance overhead of masking/unmasking floating point exceptions"
The viewport became sluggish when I setup a scene with 1600 cylinder meshes:

[code]

Profiling suggests that a *lot* of time is being spent managing floating point hardware state:

![Screenshot from 2022-09-13 07-36-53](https://user-images.githubusercontent.com/13791/189854524-a9ce2a7f-6007-4e65-9ece-dd5ee9bb5ae0.png)

This seems to be related to https://github.com/3b/cl-opengl/issues/98 but I ha

[2022-09-13 14:41] mikelevins commented on #15
I haven't looked at the Windows version of kons-9 in a few days because I needed to provide some help to the main collaborator on my other Lisp IDE project. We got his needs met, and I can pay attention to this again.

My collaborator works primarily on Windows. In the course of working on his requirements, I discovered additional evidence that something may be off with SBCL and quicklisp on recen

[2022-09-13 23:20] kaveh808 commented on #104
Thanks for doing this test and digging into the cause. I must admit I'm not enough of a low-level code expert to understand what a possible solution might be. If you can, please keep digging into it.

Yes we have considered making the main thread just handle rendering OpenGL calls. This seems to be a solution for macOS which requires the UI to run in the main thread.

[2022-09-14 00:33] JMC-design commented on #104
I think this is just because of using old gl, where you're going to be getting this for every single vertice/colour being set individually.
I doubt this will be much of a deal if you pack an array and pass the pointer.

[2022-09-15 17:06] richardjdare commented on #15
@mikelevins I got Windows 11 going in Virtual Box (running on Windows 10) to see if I could help. I was able to run sbcl-win64-tests in SBCL 2.2.8 without any problems. I was even able to run the main branch. The only issue I had was I had to use the mingw version of glfw3.dll. CFFI wouldn't load the other versions for some reason. (I usually use the msvc versions on Windows 10)

There may be some

[2022-09-16 13:03] richardjdare commented on #15
@mikelevins The "Package Lock" problems I was having on Windows 11, SBCL 2.28  occurred in libraries that used usocket. It fails to compile when it attempts to use SB-ALIEN::HINSTANCE, and reports:

[code]

There was a recent update to usocket that fixed this, but its not on Quicklisp yet.
https://github.com/usocket/usocket/commit/341f06175431d822fd529ea8dfd283d5f0ef0243

SB-ALIEN::HINSTANCE was a

[2022-09-16 15:28] mikelevins commented on #15
Yes, that sounds like exactly what I was seeing. THanks for this information; I'll look into it. It may suggest a straightforward solution (for example, I'll try pulling the latest usocket into local-projects and see where that gets me).

Thanks again! I'll report my results.

[2022-09-16 16:20] mikelevins commented on #15
Results: cloning the HEAD of usocket into quicklisp/local-projects appears to fix the problem. I'm able to load kons-9 and run demo code.

I'll proceed with win64 integration tasks and report back if I run into another roadblock.

Thanks, @richardjdare!

[2022-09-18 11:29] jdf-id-au opened #110 "Newbie struggling to compile"
Thanks for this exciting project.

I'm familiar with Clojure but new to CL. (macOS 12.5.2 on arm64; sbcl 2.2.8)

I followed the instructions but couldn't get the project to compile, with the following error. It survived a REPL restart. Am I doing something wrong?

[code]

[2022-09-18 15:23] mikelevins commented on #110
main is not currently compiling for me, either. I'll look into it.

@kaveh808, this isn't the first time a fresh pull of main has failed to compile. We might want to consider instituting some testing discipline around merges to main.

Because of the stateful nature of Lisp images, and the tendency to build up state incrementally, interactively, it's relatively easy in a Common Lisp project to get

[2022-09-18 15:44] mikelevins opened #111 "kernel/transform.lisp fails to compile in main (d167140)"
Compilation of transform.lisp fails. SBCL reports that in the following code on line 156:

[code]

the derived type of the argument S should be (SIMPLE-ARRAY SINGLE-FLOAT (3)), but instead it's (VALUES NUMBER &OPTIONAL).

The method on scale-by claims that S is a NUMBER. The definition of * in vec3.lisp doesn't say what the types of its arguments are, but the doc string claims they are vectors, an

[2022-09-18 16:13] JMC-design commented on #110
huh, that should have been caught in the review.  That's some left over debugging crap.  Just remove the (u:fp whatever) and replace with whatever.  Hard for me to catch those since it's always loaded.

[2022-09-18 16:16] mikelevins commented on #110
I guess we'd better institute the testing discipline that I mentioned, then, and make sure PRs don't get merged until they pass their tests.

[2022-09-18 16:17] JMC-design commented on #110
mikel that should be p* instead of p:*, I think some stuff got messed up when I rebased before requesting a pull.

[2022-09-18 16:17] mikelevins commented on #110
I'll try it; thanks.

[2022-09-18 16:20] JMC-design commented on #110
The p:star just avoids a function indirection and typecase, so should be faster than just pstar.

[2022-09-18 16:23] mikelevins opened #112 "Recommendation: Smoke tests for main"
In order to better prevent situations where merges to main break the build, I suggest that we create a suite of smoke tests to be run on a branch before merging it. I'm willing to write the tests, but I'm probably not the best person to do it. I didn't write most of the system and so I don't know the best way to test that most of it is working.

Probably the best person to write the basic, overall

[2022-09-18 16:29] JMC-design commented on #110
I grabbed a new copy and took out my utils package, those two changes make the compile work.

[2022-09-18 16:38] mikelevins commented on #110
If you push your changes to a branch somewhere that I can pull from, I'll tesst them.

[2022-09-18 17:18] JMC-design commented on #110
sure, will do.

[2022-09-18 17:21] JMC-design commented on #110
https://github.com/JMC-design/kons-9/tree/point-fix

[2022-09-18 17:26] mikelevins commented on #110
I pulled it and tested it. It compiles and loads on my system, the window behaves as expected, and the first several forms in demo-kernel.lisp work as expected.

I recommend issuing a PR for it.

[2022-09-18 17:56] JMC-design commented on #110
done

[2022-09-18 19:58] mikelevins commented on #110
@jdf-id-au, try pulling main now. @JMC-design provided fixes that are now mereged with main. If you still have problems, let us know and we'll see what we can do to help.

[2022-09-18 21:28] jdf-id-au commented on #110
Wow thank you, build now works! I've definitely been burned by repl ≠ repo in the past too.

[2022-09-19 00:13] mikelevins commented on #111
@JMC-design provides fixes for this, which are now merged with main

[2022-09-19 00:14] mikelevins commented on #110
Great, @jdf-id-au ; I'm closing the issue, then. Thanks for letting us know.

[2022-09-19 00:14] #110 closed

[2022-09-19 18:22] kaveh808 commented on #112
Is it possible to test a merged branch before doing the pull? I.e. do a merge, test, then pull into main?

The demos should double as tests, but of course I can write more tests if you let me know what sort of tests are needed.

[2022-09-19 18:24] lukego commented on #112
Yes. Please try enabling Actions in the Project settings and then this should become a "live demo" where this PR will apply the tests to itself before it is merged.

[2022-09-19 18:26] lukego commented on #112
... and if we merge it then the testing should become "contagious" and every branch that these changes land in should be tested automatically, both on this main repo and on forks. And any new tests that are exercised by `asdf:test-op` will be automatically included in the future.

[2022-09-19 18:27] lukego commented on #112
(Oops deleted comments that were on the wrong thread, mostly redundant with existing comments on #114.)

[2022-09-19 20:46] kaveh808 commented on #85
@JMC-design I'd like to submodule your font and font-zpb-ttf repos for use in @awolven's text engine. Would that be okay with you?

I'm not sure how to do this, so I'll have to do some digging. Or if someone knows how to do it, I'd appreciate it.

The latest text engine is at `awolven/kons-9/main` and I'm going to merge it into `kaveh808/kons-9/text-engine` for testing.

[2022-09-19 22:27] JMC-design commented on #85
I'm not sure what submoduling entails.  If it's just for ease of install, I'd suggest kons-9 be added to ultralisp, both those repos are on the default ultralisp distro.  Then again, I also think EASING should be a dependency and not just copied into the code base.

[2022-09-19 23:02] kaveh808 commented on #85
Submodules were suggested a while back, and again recently, as the recommended way of bringing an external repo into our project.  My understanding is that it creates a snapshot of the repo in our repo, and we can make local changes as necessary. Need to figure out the details.

For example, there are a couple of things we need to do for our text tests, per Andrew:

"It would be nice if someone lo

[2022-09-20 00:06] mikelevins commented on #112
I'd like to see us adopt a testing framework that provides easy automated test runs with failure reporting. I usually use Gary King's Lift, but other folks may prefer testing tools.

AN approach that I've used successfully in the past is to create a test directory that lives alongside the main sources directory. For each source file whose contents I want to test, there's a corresponding source fil

[2022-09-20 00:53] kaveh808 commented on #112
I agree we need a testing framework, based on @mikelevins comments here and @lukego comments in #114. Both breaks in the `main` branch have been due to my carelessness.

Mikel, please take the lead on this. If you guys can set up a testing framework, I'm happy to start populating it with tests, initially for the `kernel` files.

As always, my inclination is something simple, with as few dependenci

[2022-09-20 02:23] JMC-design commented on #85
Well, the proper way to resolve that would be to raise an issue in the repo or just talk to me.
The metrics will always return the precise measurements. Glyph:raster returns 3 values, the alpha mask, the actual size of the bitmap, and the offset.  I've changed the documentation to reflect that.

[2022-09-20 04:28] lukego commented on #112
Has anyone reviewed #7, an open PR that introduces a test framework?

[2022-09-20 18:24] kaveh808 commented on #85
@awolven Does that address your first issue above?

What about having to delete a definition in the file? If we can avoid having to modify the files we can do as @JMC-design suggests and pull them in via ultralisp.

[2022-09-20 18:26] kaveh808 commented on #112
I had a look at it, but when it was done the code was changing too much to have a testing framework. If you guys feel it is worth considering now, please do so.

[2022-09-20 18:36] awolven commented on #85
You're always going to need a local repo to make patches in if it turns out
the author that is publishing the system gets sick or goes on vacation.
The local repo can be pulled by the author to give patches back to the
author when he or she is available.  Local repos really are at the heart of
community development.  Ultralisp and quicklisp are great for trying things
out without having to explici

[2022-09-20 18:41] mikelevins commented on #112
I looked at it, but the PR depends on CCL. It's possible that an updated version of it might work, but on first glance it looks to me like it would probably be more straightforward to branch the current main and introduce some testing framework that someone likes.

I've used a few different ones over the years. THe one I;ve ended up using most of the time is Gary King's Lift, though I'm not wedded

[2022-09-20 18:43] mikelevins commented on #112
Okay, I'll do it, @kaveh. @lukego, @foretspaisibles , if you want to pitch some specific test framework and discipline, let me know. If not, I'll probably just set something up that I'm used to doing.

[2022-09-20 20:53] kaveh808 commented on #111
I need a sanity check. Getting a lot of undefined point methods and style warnings when compiling `main` from scratch.

Anyone else seeing this, or is my branch somehow out of date?

I can fix the problems, but just want a sanity check before I do.

[2022-09-20 21:01] awolven commented on #57
Kaveh wants me to share an idea with the team on the subject of text engines.

I've been experimenting with Bart Botta's (3b's) text engine 3b-bmfont, which is native lisp, and much more mature than the one we have come up with so far.  It uses the same font library we are using, which was written by Zach Beane (zpb-pdf).

It has the ability to cache font atlases and font metadata for quick loadin

[2022-09-20 21:10] mikelevins commented on #111
I just nuked my local copy, cloned it anew from github, confirmed that I was on the main branch, deleted the fasl cache, loaded the asdf file, loaded kon-9, opened the GLFW window, ran test-demos.lisp, closed and opened the window, and ran test-demos again.

It all worked as expected (except that I have done nothing about the lighting bug on reopen; doh!).

[2022-09-20 21:13] kaveh808 commented on #111
The demos all work, but I see lots of style warnings and undefined point methods in the transcript. Do you get those?

E.g.
[code]

[2022-09-20 21:25] mikelevins commented on #111
I do, yes. From experience, I'd guess--and this is just an untutored guess; I haven't rummaged through the relevant code--that we're defining things with forward references in them.  For most things, forward references are fine as long as the forward references get properly resolved before anything that depends on them is actually evaluated.

We might like to clean those up, though, just so they d

[2022-09-20 21:29] kaveh808 commented on #111
There are some forward references, but there are also many actual undefined functions like the one I quoted, which should be `p:y` and not `y`.

I'll work on these. Stuff our new testing should catch. :)

[2022-09-20 21:41] mikelevins commented on #111
I sure hope so! If not, smack me.

[2022-09-20 21:46] #111 closed

[2022-09-20 21:46] kaveh808 commented on #111
All compiler warnings addressed. Fixed.

[2022-09-20 21:52] kaveh808 commented on #57
If this is a more mature system and can run on MacOS, then it sounds like a good idea.

A text engine is a high priority, so we can work on a GUI.

[2022-09-21 14:59] foretspaisibles commented on #112
I updated the PR so that it uses SBCL. In the shell, running the full test suite or part of it yields the following output (% is the shell prompt)

[code]

A specific test suite:

[code]

Testsuites can also be run from SLIME, just using the function name. (e.g. KONS-9/TESTSUITE:RUN-ALL-TESTS)

[2022-09-21 15:03] mikelevins commented on #112
Well, let's not just assume anything I touch is good. I can report that's definitely not the case.

I use Lift because it makes the follwing things easy to do:

- Create a parallel source structure for tests, so that for each source file that you want to test, you can easily create a parallel test file, and it's obvious at a glance which test file goes with which source file
- Create an ASDF test

[2022-09-21 15:06] mikelevins commented on #112
This looks fine to me. Could to have a look at my discussion of the use of Lift in folio2, in another comment here, and offer your comments. Do you feel that Confidence addresses all of the same concerns equally well or better?

I actually like the use of test-suite objects and other features of Lift because they provide a handy organizing principle as the number of individual tests grow, but I'm

[2022-09-21 15:29] JMC-design commented on #57
lol that's why I mentioned a while ago why didn't you just use Shinmera's Trial which uses the (m)sdf font generation from 3b! and then you don't have to reinvent the gui wheel and work with one of the best Lisper's out there who already uses the stuff in production.

[2022-09-21 15:56] foretspaisibles commented on #112
Yes, that's the convention used in projects using Confidence, but it's just a convention and Confidence does not force anyone to follow it and it is possible to organise things differently. Since tests are represented by regular Lisp functions, it's easy to navigate them using IDE's facilities (jump to source) and Confidence itself does not look at environmental variables when files are loaded or

[2022-09-21 16:56] foretspaisibles commented on #112
A second motivation to write Confidence was to have tests represented as functions. Having a test suite built around an IS macro is an incitation for writing a lot of macros around this, which is a small nuisance in my opinion, functions are easier to work on. Having tests represented as objects has for me the downside of breaking natural code navigation as it is not possible to look at the code e

[2022-09-21 18:49] mikelevins commented on #112
Your answers to my questions are encouraging. Let me built some tests for one of my small projects using Confidence, to satisfy myself that there aren't any unpleasant warts that will vex us (also, if you know of such warts, and of ways that you are accustomed to working around them, do please let us know).

Assuming that things turn out to be as good as they sound, I'll report back here and recom

[2022-09-21 19:20] kaveh808 commented on #57
Last I heard, Trial did not support MacOS. Has that changed?

[2022-09-22 16:45] foretspaisibles commented on #112
I am very happy to see some interest for this and I am curious to hear your comments! Feel free to raise any question here about Confidence. Maybe @lukego is also interested in this specific topic, having generally interest for testing.

If you have texinfo installed you can `development/makedoc` to build documentation, it produces a PDF file in obj/makedoc. (Also INFO and HTML.)

I am not sure ho

[2022-09-26 19:28] foretspaisibles commented on #112
I just added documentation builds to GitHub actions, so that it is possible to download the PDF file produced by makedoc here, without installing texinfo and texlive oneself:

https://github.com/melusina-org/cl-confidence/actions/runs/3130460088

The files are at the bottom.

[2022-09-26 20:52] mikelevins commented on #112
I've added Lift and Confidence to one of my small projects, and have added a couple of simple tests using Lift. I'll next add equivalent tests with Confidence so that I can report on any notable advantages and disadvantages.

[2022-10-05 11:36] mikelevins commented on #112
(Sorry I'm taking taking so long on this; I have several things competing for my time at the moment.)

@foretspaisibles, what's the idiomatic way to write a confidence test that succeeds when some failure occurs? For example, suppose I want a test that succeeds only when one of several conditions is signaled?

For context, I often want to test the unhappy path as well as the happy path in my code.

[2022-10-05 18:32] foretspaisibles commented on #112
Thank you @mikelevins for your detailed comments.

Actually I am not only open about this but quite enthusiastic! :-) In the initial phases I worked by following the comparison of https://sabracrolleton.github.io/testing-framework and I would be very happy to continue the work on Confidence.

[2022-10-07 13:28] mikelevins commented on #112
@foretspaisibles, would you be willing to add a small example use of confidence to its repo that shows simple uses of its basic features? If the repo has that, I'll feel good about recommending that we adopt it for testing.

Also, if the example could show us how to ask confidence to display a message when tests are complete--similar in spirit to the example from Lift--I think that would be helpfu

[2022-10-07 21:22] #85 closed

[2022-10-07 21:23] kaveh808 commented on #15
Hey guys,

I was wondering where this stands. Can I announce that we support Windows?

[2022-10-07 21:34] awolven commented on #15
windows worked for me when I tried it, but that may have been a few commits
ago.

On Fri, Oct 7, 2022 at 4:23 PM Kaveh Kardan ***@***.***>
wrote:

[2022-10-07 22:28] richardjdare commented on #15
I've been testing the latest main branch, and also got the text-engine branch going on Windows 10. So far so good. I will run through more tests over the weekend and report back if I find anything.

![kons-9-text-engine](https://user-images.githubusercontent.com/9398854/194670990-80057d1a-e3ea-4a38-a0c8-8a6a00f4f112.JPG)

[2022-10-08 00:44] kaveh808 commented on #15
Excellent, thanks @richardjdare

If you get a chance, grab the latest version. I fixed some bugs and there is an initial UI tutorial in `demo-ui.lisp`.

[2022-10-08 13:12] richardjdare opened #119 "Crash on creating new scene after selecting an object in the inspector"
branch: text-engine,
Windows 10, SBCL 2.2.7

The app crashed at the start of Demo 4 (demo-ui.lisp) when I triggered "New Scene"
[code]

The crash seems to occur when you create a new scene after selecting an object in the inspector
Steps to recreate:

Tab to open the menu
C C C (create circle shape)
Tab I S (open shape inspector)
Select shape in the inspector
hit ESC to close the inspector
Tab to

[2022-10-08 16:35] foretspaisibles commented on #112
I'll look into that and add comments here!

[2022-10-09 15:03] richardjdare opened #120 "Ctrl, Alt or Shift will also show the main menu if it is not visible."
Windows 10, SBCL 2.2.7 Branch: text-engine

Steps to reproduce:
Start kons-9
hit TAB to hide the main menu
hit ctrl, alt or shift
The menu comes back up.

[2022-10-09 22:36] kaveh808 commented on #119
Thanks for testing. I will look into this. I suspect I need to close all inspectors on a New Scene, as they don't update properly.

[2022-10-09 22:47] kaveh808 commented on #120
Thanks. Will look into this.

One undocumented feature is that the keyboard bindings for the main menu are active even if the menu is hidden. So you can press 'C' and get the "Create" menu, etc.

[2022-10-10 21:47] kaveh808 opened #122 "selection bounds display incorrectly for hierarchies"
Run (Demo 11 kernel) in `demo-kernel.lisp`
Open Shape inspector
Select SHAPES
Select WAIST-GROUP

Both bounds are displayed incorrectly.

[2022-10-10 22:04] kaveh808 opened #123 "Inspectors do not update when scene modified by code"
Create scene and open Shape inspector.

Evaluate demo in `demo-kernel.lisp`

Shape inspector does not update.

[2022-10-10 22:08] kaveh808 commented on #119
Disabled show/hide of group nodes in Shape and Motion inspectors for now. All nodes are shown (expanded) so that updating inspectors works when scene is edited via GUI.

[2022-10-10 22:10] #119 closed

[2022-10-10 22:17] kaveh808 commented on #120
The bug was a side effect of the undocumented feature.

[2022-10-10 22:22] kaveh808 opened #124 "Implement delete functionality"
Delete currently only works on top-level nodes (children of SHAPES and MOTIONS).

Need to properly implement delete semantics. What happens when an instance is deleted? Do all instances pointing to same shape get deleted? If not, delete needs to take a scene-path, not a shape or motion. This means the scene selection list must also be a list of scene paths, not a shape or motion.

[2022-10-10 22:23] #120 closed

[2022-10-11 02:12] #122 closed

[2022-10-11 02:43] aykaramba opened #125 "Menu issue on 4k monitors."
Opening up issue as per request in this ticket: https://github.com/kaveh808/kons-9/discussions/118#discussioncomment-3844190

PROBLEM: Menu boxes render properly but the text is offset by varying amounts on 4k mintor as per screenshot:

![194181411-88334ee9-92af-452f-a7ad-75a7b478f355](https://user-images.githubusercontent.com/16431651/194984525-53876557-f9b0-401b-95d7-d98ddc31e7f6.png)

The issue

[2022-10-11 02:53] #123 closed

[2022-10-11 05:42] kaveh808 commented on #125
Thanks for the testing @aykaramba

In the file `kons-9/src/graphics/glfw/minimal-ui.lisp`, in the function `show-window` at the bottom of the file is this code:

[code]

Try two things and see how they affect the font placement. Change the above expression to the following:

1)
[code]

2)
[code]

[2022-10-11 05:56] aykaramba commented on #125
Well, that worked.

Details:

1) (setf (monitor-scale *drawing-settings*) 1) produces this:

![good](https://user-images.githubusercontent.com/16431651/195007629-3baa6df8-1c12-4ceb-b855-383402acf22e.png)

2) (setf (monitor-scale *drawing-settings*) 2) produces this:

![bad](https://user-images.githubusercontent.com/16431651/195007691-d9abf301-b687-48f7-94a5-7a2e0feb3eb4.png)

For me, this is good

[2022-10-11 07:04] awolven commented on #16
What platform are you running cl-vulkan on?

On Fri, Aug 12, 2022 at 5:39 PM mikel evins ***@***.***>
wrote:

[2022-10-11 07:06] awolven commented on #90
opengl is a foreign library

On Wed, Sep 7, 2022 at 11:35 AM Johannes Martinez Calzada <
***@***.***> wrote:

[2022-10-11 09:28] awolven commented on #90
I'm a vulkan enthusiast, but I have too much on my plate at this time to
volunteer for porting opengl.lisp.  I can provide vulkan bindings and some
sample code on how to make triangles and triangle_strips of various colors
render in vulkan, but I have the text engine to debug/extend and a whole
host of other projects relating to other things.  Perhaps someone who
doesn't necessarily have vulkan ex

[2022-10-11 11:17] lukego commented on #90
I volunteer to make an attempt this month. What do I need to know to start off in the right direction? (Either in absolute terms or based on the tiny start I made in #109 a ways back.)

[2022-10-11 15:09] foretspaisibles commented on #112
@mikelevins I wrote an example file with top-level evaluation forms as what we have in KONS-9, do you find it useful regarding your questions? If so I could also move part of the contents to the README or Texinfo file, otherwise happy to refine! (A public repo using Confidence is https://github.com/melusina-org/cl-rashell which also could be useful as a reference.)

https://github.com/melusina-org

[2022-10-11 19:54] mikelevins commented on #112
Yes, your link is exactly what I had in mind, thanks! I think it's probably enough to add a reference to that example file in the README. The source is quite clear.

I'm familiar with texinfo, but I don't use it much, so I don't really know the most convenient way to read it (unless it's just turning it into info files and reading it with info or emacs). Do you have tools that you typically use to

[2022-10-11 20:17] kaveh808 commented on #125
Hmm, I wonder if your monitor is an odd case, or whether I should set the monitor scale to the `floor` of the specified value...

As far as more testing, please feel free to try out the scenes in `demo.lisp` and try out variations of your own to see if (a) you get any cool results we can add to our demos, or (b) you find bugs.

[2022-10-12 05:21] foretspaisibles commented on #112
Nice to read, my changes made it to main and I added a link in the README. The documentation is created on each push by GitHub actions as artefacts (PDF, INFO, HTML) but I am not sure yet how to make them more visible from the README file.

[2022-10-12 13:10] lukego commented on #125
My 4K monitor is setup for 200% (2.0) scaling. The main UI text looks right but the menu draws in the wrong place:

https://user-images.githubusercontent.com/13791/195351519-0a145c0e-2b99-49ab-9b4b-391743756d4e.mp4

In principle I can work around this by changing the scaling factor to 1 though in practice that makes the text too small for me to read :)

How is scaling supposed to happen in the UI?

[2022-10-12 19:25] kaveh808 commented on #125
I don't take the monitor-size into account for the GUI, but the text engine does, so this is probably the cause.

And yet everything looks correct on my MacOS external monitor (scale = 1) and my laptop display (scale = 2).

I'll reopen the issue...

[2022-10-12 19:51] awolven commented on #125
you should be able to set the *framebuffer-scale* variable to whatever is
returned by "get monitor content scale" and that should be a good
foundation for tackling the problem.  I think it has to be done before
ensure-font is called.

On Wed, Oct 12, 2022 at 2:25 PM Kaveh Kardan ***@***.***>
wrote:

[2022-10-12 20:06] awolven commented on #125
right now it just assumes #+darwin and #-darwin *framebuffer-scale* 2 and 1
respectively, which is severe ignorance apparently.

On Wed, Oct 12, 2022 at 2:50 PM Andrew Wolven ***@***.***> wrote:

[2022-10-15 18:37] mikelevins commented on #112
Great, @foretspaisibles, I appreciate the work. Could you help @kaveh808 write a simplest-possible smoke test for kons-9? The idea would be to pick some very basic test that helps Kaveh (and other contributors) see how to set up the test case, checks for some very basic feature that Kaveh judges to be important as a base test case, and reports clearly on success or failure.

Ideally, it would be s

[2022-10-17 17:18] foretspaisibles commented on #112
That sounds interesting yes! @kaveh808 do you have any part of the code that look like a good candidate to you for this? Otherwise I'll just start with some point-related routines and maybe curve related functions.

[2022-10-17 21:16] kaveh808 opened #138 "Text engine overflow when > 65K characters to be drawn"
EDIT: This happens with a moderately complex scene (~2K children for a shape). I assume if the total number of characters to be drawn is over 65K it crashes.

I created a `voxel-grid-group` with cubes as children and then tried to open the GUI shape inspector. Got text engine error:

[code]

As a workaround, implemented `point-instancer-shape` and `voxel-grid-shape` which do not store instances as

[2022-10-19 22:46] kaveh808 opened #144 "implement 3-point arc curve"
In `kernel/curve.lisp`, implement the function:

[code]

[2022-10-25 18:16] maacl commented on #15
I have today downloaded and run master on Windows 11. After downloading glfw3.dll and placing in root of project it runs without any issues using SBCL 2.0.0 and the README.md instructions.

[2022-10-25 23:35] kaveh808 commented on #15
Excellent, @maacl. Thank you for testing this.

[2022-10-27 12:23] richardjdare opened #155 "Error on loading testsuite: "COMPILE-FILE-ERROR""
I get an error when trying to load the test suite from the REPL as described in readme.md.
Tested on:
Windows 10, SBCL 2.2.7
Kubuntu 22.04 SBCL 2.2.9 (on actual hardware now. I've graduated from VMs)

[code]

[code]

[2022-10-27 16:32] foretspaisibles commented on #155
Oh my bad, latest Quicklisp version is from "2022-07-08" so I'll add a compatible function to our test suite.

[2022-10-27 19:31] #50 closed

[2022-10-27 19:59] kaveh808 commented on #57
Done by @awolven. Will revisit the issue once we move to Vulkan.

[2022-10-27 19:59] #57 closed

[2022-10-28 00:23] nsmoker commented on #73
I would like to tackle this, I'll start this weekend.

In a modern version of GL, or any of the low overhead APIs, this would be best accomplished using occlusion queries and writing ids as color, but implementing it that way feels pointless without framebuffer support (we would stall the pipeline waiting for the query to finish because we don't have another framebuffer, and so can't do the main r

[2022-10-28 00:49] kaveh808 commented on #73
Excellent. Do keep in mind that we are currently using OpenGL 3 on Windows/Linux, but OpenGL 2 on MacOS.

[2022-10-28 01:13] awolven commented on #73
If krma gets used, your opengl programming will be in vain.  There is a
"cherno" video on youtube demonstrating how to do this, it may have used
vulkan, but it writes ids as color in a separate image and uses the mouse
coordinates to extract the object id.  In any case, you may be better
served to use vulkan.

I solved this a different way for REGEN.  I need to be able to select ALL
the objects un

[2022-10-28 01:20] awolven commented on #73
I haven't examined Kaveh's code deeply yet, but if he is using triangular
meshes for polyhedrons, it would be fairly straightforward to write a
compute shader that takes index and vertex buffers, maps
ray-intersects-triangle on them, and then reduces to detect a hit.  If you
wanted to do it with a ray.

On Thu, Oct 27, 2022 at 8:12 PM Andrew Wolven ***@***.***> wrote:

[2022-10-28 01:57] kaveh808 commented on #73
Currently the `polyhedron` class supports arbitrary faces. There is a very naive triangulation method, only guaranteed to work with convex faces.

[2022-10-28 09:41] awolven commented on #73
If I implement faces as triangle fans, then it will be the same for mouse
picking purposes.

I don't know how it would actually look though.  Do you provide vertex
normals for the vertices in the faces?

On Thu, Oct 27, 2022 at 8:57 PM Kaveh Kardan ***@***.***>
wrote:

[2022-10-28 14:11] nsmoker commented on #73
Yes, I do like the object id based solutions as I mentioned. That's more or less what an occlusion query based solution would do as well; the difference is that you can toggle the depth test when you do an occlusion query to count anything in the scissor/viewport as a hit, which means you can support both selecting occluded objects and box selection (you just change the scissor rect to match the b

[2022-10-28 17:09] bigos commented on #155
I had the same problem. After a while of scratching my head, I will leave it for now and will wait for the proper description of the solution.

[2022-10-28 18:41] awolven commented on #73
I have had some discussions with Kaveh about graphics languages.  Maybe he
could chime in.  The current state of affairs is that Kaveh is on Macos and
doesn't want to neglect macos, but the current code is mostly OpenGL 1.1
with some 2.1 stuff.  The absolute bare minimum requirement for moving
forward is OpenGL 3.3.  The reasoning behind that is another discussion.
We could open that discussion if

[2022-10-28 19:06] awolven commented on #155
Regarding maintaining versions of included packages we shouldn't rely on
quicklisp at all.  I have proposed a solution using git submodules, which
hasn't taken hold yet.  You can include another git repository inside your
git repository and your parent repository tracks the commit id of the child
repository.  If you need changes to a child repository, you can fork that
repo, make your changes in a

[2022-10-28 19:29] nsmoker commented on #73
I completely agree that no GL 3.3 backend should be written, you can dump GL with better APIs on all platforms these days, the only reason to keep it is legacy compat. If the Vulkan backend is coming very quickly as you say, then I would be in support of punting this until the rendering backend is solidified; the reason I wanted to do it in GL is because I was under the impression that the Vulkan

[2022-10-28 19:39] awolven commented on #73
You can actually experiment with the vulkan-based graphics engine now.  I
could write instructions on how to load it, and how to use the API.  You
have to install the VulkanSDK and run a script to compile the shaders, as I
am not including the spirv in the repository.

On Fri, Oct 28, 2022 at 2:29 PM Nick Smoker ***@***.***>
wrote:

[2022-10-28 19:45] kaveh808 commented on #73
Good discussion, guys.

Let's take the long-term view. We are in an enviable position where we don't have any short-term deadlines or requirements.

As Andrew mentioned, I am on MacOS and I do want the system to run on MacOS/Linux/Windows, so Vukan and Metal seem to be the way to go.

As a high-level view of where I imagine the interactive graphics going, I want to be on the same level as Maya/Hou

[2022-10-28 19:56] kaveh808 commented on #155
Yes, I agree about using git submodules.

This is my bad. To be honest, I had a brief look at submodules, couldn't figure out how to use them, and punted.

Perhaps Andrew's Vulkan package can be the first system where we use submodules? Keep things clean and correct as we move forward.

[2022-10-28 20:27] kaveh808 commented on #73
I did read the Open Inventor docs recently, and liked much of what I saw.

I can see us having various picking abstractions for manipulators, surface representations, and volumetrics. And probably more that I'm not aware of.

[2022-10-28 20:30] nsmoker commented on #73
My initial intent was a fairly simple abstraction over GPU queries and query pools, similar to Blender's object selection API, but with fewer layers of indirection since we do not need to fit the API into as complex of a system as blender.

[2022-10-28 20:34] kaveh808 commented on #73
Sounds like a plan. I hereby delegate the design to you. :)

[2022-10-28 20:45] nsmoker commented on #73
Cool. I will post an update on the design here once I have a demo running in Vulkan.

[2022-10-28 21:10] awolven commented on #73
should I assume the cpu code will be common lisp?

On Fri, Oct 28, 2022 at 3:45 PM Nick Smoker ***@***.***>
wrote:

[2022-10-28 22:24] nsmoker commented on #73
Yeah, I plan on using krma as a base for this. If I have trouble with setup, can I come to you with questions? For actual usage, I can probably make do reading the code.

[2022-10-28 22:49] awolven commented on #73
Yes, I would actually appreciate some feedback on it.

Technically speaking, I'm an amatuer graphics programmer.

On Fri, Oct 28, 2022 at 5:24 PM Nick Smoker ***@***.***>
wrote:

[2022-10-28 23:06] foretspaisibles commented on #155
@bigos A temporary solution is to clone an up-to-date version of Confluence in a directory that is examined by Quicklisp. For instance

[code]

(See `ql:*local-project-directories*`.)

[2022-10-28 23:08] bigos commented on #155
I will take note of it. Thank you very much.

[2022-10-28 23:12] foretspaisibles commented on #155
@awolven My experience with git modules is a bit dated but back in the days people where reluctant to use them because they break the normal behaviour of `git pull` by leaving the directory not totally up-to-date:

The same page mentions later an option allows to “fix this”:

@awolven What is your experience and recommendation regarding that option? Does it make submodules easy enough to use, so t

[2022-10-28 23:23] foretspaisibles commented on #155
If we use submodules, what would be the good way to do so?

Should we pack them in `kons-9/contrib` or similarly named directory?

Should we have a compagnon `kons-9-dist` directory listing every Lisp system it directly depends on as a submodule? If we just add this directory to `ql:*local-project-directories*` this should be easy to use for contributors as well as for tourists who just want to tr

[2022-10-28 23:24] bigos commented on #155
Would a quicklisp doctor be last option? By quicklisp doctor, I mean an application that checks local-projects for the presence and correct version of the library we depend on, with the possible instructions on how to fix the detected problems.

[2022-10-28 23:26] awolven commented on #155
actually I have always changed directory to the submodule and done a git
pull.
But setting submodule.recurse looks like a great option.  I wonder if it's
possible to store the configuration setting in the parent git repository,
so that someone who clones your repository will just use "git pull" and it
will recurse submodules?

On Fri, Oct 28, 2022 at 6:12 PM Michaël Le Barbier ***@***.***>
wrote:

[2022-10-28 23:30] foretspaisibles commented on #155
@bigos I had just the same idea and I am looking for a simple way to implement it. I did not have the catchy name, though :-)

@awolven The git option for submodules is stored in config (.git/config) so it is not attached to the repository and has to be setup by its consumers. But it's easy enough to import the idea into tooling.

[2022-10-28 23:34] awolven commented on #155
asdf has been slightly a problem, normally I put a (push
"/path/to/asd/file/" asdf:*central-registry*) in my ~/.sbclrc and then I
can either use quicklisp or asdf to load the system.  For submodules there
seems to be two options, (push "/path/to/submodule/asd/file/"
asdf:*central-registry*) in my .sbclrc or actually put additional .asd
files in the /path/to/asd/file/ where the paths in the submodu

[2022-10-29 00:08] foretspaisibles commented on #155
I prepared a simple doctor to check that very issue, it is the PR for branch issue/155. @richardjdare, do you feel the message printed by the doctor would be of any help for users bumping in the same problem as you?

[2022-10-29 14:28] mikelevins commented on #155
I typically symlink directories containing my asdf systems into quicklisp/local-projects, but it's not necessarily better than other strategies. It does mean that when the local-projects index is up-to-date, my ql:quickloads all work without ceremony, but it also means that occasionally I add something and forget to update the local-projects index and then scratch my head for a few seconds when a

[2022-10-29 14:31] awolven commented on #155
What do you do on Windows systems?

On Sat, Oct 29, 2022 at 9:28 AM mikel evins ***@***.***>
wrote:

[2022-10-29 14:45] mikelevins commented on #155
Suffer.

In my day job I mainly work with Allegro CL on Windows. For those projects I write asdf system definitions with setup in the files that may include pushing symbols onto *features*, adding paths to asdf:*central-registry*, manually quickloading susbsystems, and so on. It's generally all fine when it's all set up, but setting it up to work right can be a pain, and occiasionally i have to ch

[2022-10-29 14:49] mikelevins commented on #112
@kaveh808 abd @foretspaisibles, do we think that the testsuite currently in place serves adequately as a sanity check that the system is basically working? Is it sufficient to close this issue?

If so, @kaveh808 can you close this issue (or tell me to close it). If not, can either of you suggest further work that needs doing and I'll look into it?

[2022-10-29 16:38] awolven commented on #155
Do you add paths to asdf:*central-registry* in your .asd files?

On Sat, Oct 29, 2022 at 9:45 AM mikel evins ***@***.***>
wrote:

[2022-10-29 17:04] foretspaisibles commented on #112
I would say it, is. We now have a basis to work on, add features, integrate with GitHub Actions, etc. if we like. Maybe next steps would be to have tests in GitHub Actions and a feeling of test coverage, then improve test coverage. But let's keep track of that as separate issues.

[2022-10-29 17:06] richardjdare commented on #155
@foretspaisibles

Thanks, I think the doctor message does explain clearly what the user needs to do. I guess for now, we could also consider asking the user to install cl-confidence in the documentation as part of the setup process for the test suite. At least until we figure out the libs situation and clearly define Kons-9's relationship to Quicklisp.

For what its worth, I've used submodules in

[2022-10-29 18:43] mikelevins commented on #112
Sounds fine to me. I'll close it soon, after giving @kaveh808 a little more time to weigh in.

[2022-10-29 18:48] awolven commented on #155
If a 3rd party library is stable, hasn't broken it's API in ages, and we
have no reason to make modifications, then we have no reason to make it a
submodule.

On Sat, Oct 29, 2022 at 1:19 PM Clydetron704 ***@***.***>
wrote:

[2022-10-29 18:56] mikelevins commented on #155
On occasion, yes. I don't like doing it, or doing any surgery at all on the state of the Lisp before loading systems. I'd rather be able to arrange things so that I can just drop a library onto my dev system and quickload it. Sometimes, though, I haven't found a clean way to load a system without a little preliminary surgery.

From time to time something like this provokes me to consider just stor

[2022-10-29 19:27] awolven commented on #155
I just tested the following:

~/.sbclrc
;;=======
(pushnew "~/krma/" asdf:*central-registry* :test #'equalp)
;;=======

~/krma/krma.asd
;;=======
(defsystem krma
  :description "A platform independent graphics primitive rendering
library."
  :depends-on (:cffi :3d-vectors :3d-matrices #-darwin :cl-vulkan #+darwin
:cl-metal
                                              :sdf/bmfont :3b-bmfont/json)

[2022-10-29 20:15] awolven commented on #155
I don't like external dependencies either, but if you fork someone's
repository on github or elsewhere, and then make that a submodule for your
project, it is just as good as having written the system as an integral
part of the main system, because you can control versioning with git
submodules.  I think where git submodules become a problem, is in the
condition that you simply have dozens of exte

[2022-10-29 20:27] bigos commented on #155
https://github.com/bigos/quicklisp-doctor/blob/d6d0fda9a87bdcee99ccdd889fd32df87c665d06/quicklisp-doctor.lisp#L25

This is the beginning of my go at the problem. Please let me know if it is worth pursuing this path.

[2022-10-29 21:08] kaveh808 commented on #112
Go for it, @mikelevins. I'm delegating this to the two of you. :)

[2022-10-29 21:09] mikelevins commented on #112
Great; closing this as completed.

[2022-10-29 21:09] #112 closed

[2022-10-31 22:58] kaveh808 commented on #155
Hey guys,

I've been following this thread without, to be honest, having a solid grasp of all the issues involved.

Am I mistaken, or are there two separate issues involved in this thread: the Confidence test suite and the use of git submodules?

Regarding the test suite and Confidence, I'm still happy to delegate this to @foretspaisibles and @mikelevins, as their understanding of the issues invol

[2022-10-31 23:02] awolven commented on #155
Submodules are easy, when you want to get a version off a remote you just
"git pull".  If you have local changes you just fork the repository and
make your changes.  If you need to pull from the original repo, you just
pull and merge, it's just like what developers on github always do.

On Mon, Oct 31, 2022 at 5:58 PM Kaveh Kardan ***@***.***>
wrote:

[2022-11-01 11:24] foretspaisibles commented on #155
Yes that's true, I'll try my own summary: Somehow the **Confidence test suite** part is related to the **Quicklisp releases are very sporadic** part and derived into a discussion on how to handle dependencies in a Lisp project.

Using git submodules could be a tool to handle dependencies but there is no canonical way to use them so we should think about the user/developer experience and if we real

[2022-11-01 11:28] foretspaisibles commented on #155
@richardjdare I also would like to investigate the preparation of the Quicklisp distributions. It seems appealing because:

- several people are doing this, (thank you for mentioning a new project) so it seems attainable
- it does not augment the technical surface of the project (we are already using quicklisp anyway)
- it is easy to setup and keep up to date
- a distributions it could be neatly u

[2022-11-01 21:43] #155 closed

[2022-11-03 00:56] #17 closed

[2022-11-05 12:42] selwynsimsek opened #167 "Very impressive work!"
I am a Common Lisp developer who has been interested in virtual reality and 3D graphics in the recent past. I was very excited to hear about this project and it seems like much hard effort has already gone into it.

A few years ago, I became interested in virtual reality and decided to build a system revolving around the idea of developing while inside virtual reality using a REPL from within virt

[2022-11-05 15:34] richardjdare commented on #167
That looks really cool. A while back I tried to embed ECL (Embeddable Common Lisp) into Unreal Engine and make some kind of VR REPL, but I ran into problems I couldn't figure out. I might have another go at it one day. A VR view for Kons-9 might be a cool project for the future.

[2022-11-05 16:10] selwynsimsek commented on #167
I also considered this, but decided against it as calling C++ from Common Lisp is not that straightforward. There do exist ways to do it - you could use Clasp or some of borodust's efforts - but it seemed easier to simply use an existing 3d engine written in Lisp.

This is very much a one man project, and so an indie game engine seemed more manageable than using the huge UE4 engine.

[2022-11-07 03:35] awolven opened #169 "stable kons-9 commit"
What is the most recent stable kons-9 commit, where everything was testing fine?

[2022-11-07 04:08] kaveh808 commented on #169
The current main branch.

[2022-11-07 04:16] awolven commented on #169
How do you run the demos?

On Sun, Nov 6, 2022 at 10:08 PM Kaveh Kardan ***@***.***>
wrote:

[2022-11-07 05:11] awolven commented on #169
The function kons-9::p+ is undefined.

On Sun, Nov 6, 2022 at 10:16 PM Andrew Wolven ***@***.***> wrote:

[2022-11-07 05:14] awolven commented on #169
The whole "point" system seems to have been ripped out of the latest
commits for a few days and none of the demos actually work.

On Sun, Nov 6, 2022 at 11:11 PM Andrew Wolven ***@***.***> wrote:

[2022-11-07 05:51] kaveh808 commented on #169
The demos work on my machine, and I pushed to main on Friday.

We're using `point-origin.lisp` so it's `p:+` now. But I just checked and `p+` also works.

To run the demos:
`(in-package :kons-9)`
`(run)`
Then eval the demos.

I'll run some tests in the morning.

[2022-11-07 10:17] awolven commented on #169
(find-package :p)
--> nil

grep -r point-origin
kons-9.asd:   (:file "src/kernel/point-origin")

There is no p+ definition in src/kernel/point-origin.lisp

On Sun, Nov 6, 2022 at 11:51 PM Kaveh Kardan ***@***.***>
wrote:

[2022-11-07 10:24] awolven commented on #169
(defun p+ (a b) (p! (+ (p:x a) (p:x b)) (+ (p:y a) (p:y b)) (+ (p:z a) (p:z
b))))

eval:
(with-clear-scene
  (add-shape *scene* (make-cut-cube 2.0)))

The function kons-9::p/ is undefined.

something got ripped out

On Mon, Nov 7, 2022 at 4:17 AM Andrew Wolven ***@***.***> wrote:

[2022-11-07 13:16] foretspaisibles commented on #169
That's a good candidate for the next thing to add to the test suite. :-) I can pick up but maybe you are interested in that topic @awolven ?

[2022-11-07 13:28] awolven commented on #169
Yes, I'm interested in expanding the test suite, if that is what you're
asking.

On Mon, Nov 7, 2022 at 7:16 AM Michaël Le Barbier ***@***.***>
wrote:

[2022-11-07 13:38] lukego commented on #169
@awolven The snippet you posted works fine for me on Linux with commit 308b1215b9fb964d55be528511e68d84e6de2c03 i.e. current tip of the main branch. I wonder what is different on your machine? (Is it a platform-related issue?)

Result:

![Screenshot from 2022-11-07 14-37-00](https://user-images.githubusercontent.com/13791/200324252-c220dc0d-8c2d-4e38-8933-6fb8676b47b7.png)

[2022-11-07 14:20] awolven commented on #169
on windows:

cd ~/AppData/local
find . -name \*.fasl -delete

;; make your computer as fresh as a new user would have it on the first
download of kons-9
 you should also be able to reproduce this if you do:
(ql:update-dist "quicklisp")

On Mon, Nov 7, 2022 at 7:38 AM Luke Gorrie ***@***.***> wrote:

[2022-11-07 17:27] awolven commented on #169
I have gone about as far as I can with this vulkan port until I get kons-9
polygons working.

On Mon, Nov 7, 2022 at 8:20 AM Andrew Wolven ***@***.***> wrote:

[2022-11-07 17:38] kaveh808 commented on #169
Tagging @JMC-design who did the point-origin port, in case he has any ideas of what may be going on.

[2022-11-07 17:58] awolven commented on #169
Can you at least replicate it?

On Mon, Nov 7, 2022 at 11:38 AM Kaveh Kardan ***@***.***>
wrote:

[2022-11-07 18:24] JMC-design commented on #169
I'm on  a new machine. I just cloned the repo and ran it. Everything seems to be fine. origin is in depends, the nickname is there and the demos work.
This seems to be an old file @awolven is looking at.

[2022-11-07 18:33] foretspaisibles commented on #169
Yes, there is and introductory discussion in #112, you can skim towards the end to find the interesting bits. I'm also happy to answer questions and provide any help. We could also pair some time over zoom if you're interested, I believe it's a great way to quickly get started!

[2022-11-07 20:06] awolven commented on #169
Ok, these are the steps I am taking:

cd ~/AppData/Local
find . -name \*.fasl -delete

git clone ***@***.***:awolven/kons-9.git kons-9-test

I edit my .sbclrc to only point to ~/kons-9-test/ not ~/kons-9/

I start lisp:

(ql:update-client)

(ql:update-dist "quicklisp")

(ql:quickload :kons-9)

(kons-9::run)

I open the file :

~/kons-9-test/test/demo-kernel.lisp

I cut and paste this form into the

[2022-11-07 20:07] awolven commented on #169
shit, i found a typo

On Mon, Nov 7, 2022 at 2:07 PM Andrew Wolven ***@***.***> wrote:

[2022-11-07 20:12] awolven commented on #169
Ok I repeated the test with:

rm -rf ~/kons-9-test/
git clone ***@***.***:kaveh808/kons-9.git kons-9-test

I get the same issue.

There is no definition of p+ in kons-9-test which I cloned directly from
Kaveh's repo.

On Mon, Nov 7, 2022 at 2:07 PM Andrew Wolven ***@***.***> wrote:

[2022-11-07 20:16] kaveh808 commented on #169
p+ is defined in point-origin:

[code]

[2022-11-07 20:29] kaveh808 commented on #169
@mikelevins Are you having any trouble running on Windows?

[2022-11-07 21:22] kaveh808 commented on #167
@selwynsimsek Cool VR setup, and welcome to our project. Please introduce yourself in this discussion: #8

I will close this issue.

[2022-11-07 21:22] #167 closed

[2022-11-07 21:59] awolven commented on #169
;; here's the macroexpansion:

(defun |p+| (p val)
  (ctypecase val
    (p:vec (p:+ p val))
    (number (p! (+ (p:x p) val) (+ (p:y p) val) (+ (p:z p) val)))))

This is brittle code.  Here's what the macro should be:

(defmacro def-point-func-1 (op)
  `(defun ,(intern (concatenate 'string "P" (symbol-name op))) (p val)
     (ctypecase val
       (p:vec (,(find-symbol (symbol-name op) 'p) p val))

[2022-11-07 23:15] alejandrogallo opened #170 "Error for GLSL 4.10 not supported"
Hi!

I'm on master, using nixos 22.05.
Apparently the OpenGL version in nixos is 3.1 and is not compatible with GLSL 4.10?

I'm not an expert in OpenGL or anything, maybe this is best asked over at nixos,
but maybe you have some pointers about it.

# Error backtrace

[code]

[2022-11-08 00:07] kaveh808 commented on #169
Thanks for catching this Andrew.

I can make this change in my next merge with main, unless you prefer making an issue and a pull request?

[2022-11-08 00:27] awolven commented on #169
Go ahead and make the change and merge it.  What we should do is run the
tests with *print-case* and *read-case* set to alternate settings.  I was
going to make an issue (when the time was right, I guess now...) with
*read-default-float-format* set to double-float and (pushnew
:3d-vectors-double-floats *features*) which are much bigger problems that
need testing/fixes.  Those are important to the

[2022-11-08 00:29] awolven commented on #169
Oh yeah, and there is also the case that in computer-aided design, Z is UP,
while in the content creation community Y is UP that I should go ahead and
mention.

On Mon, Nov 7, 2022 at 6:27 PM Andrew Wolven ***@***.***> wrote:

[2022-11-08 01:00] #169 closed

[2022-11-08 01:53] #124 closed

[2022-11-08 23:56] mmontone commented on #170
I have same problem, trying to run on Linux Mint. I think the answer is we need to upgrade OpenGL lib to v4, but packages may not be available for that (proprietary drivers may be needed + hardware support). I haven't been able to upgrade here.

[2022-11-09 00:27] mmontone commented on #170
That solved it for me. Thanks!

I did it like this:
[code]

[2022-11-09 11:08] alejandrogallo commented on #170
that also did it for me! Thanks @kaveh808 and @mmontone.
However, I don't know what is the best way of fixing this for most people

[2022-11-09 11:41] mmontone commented on #170
kons-9 is work in progress. Perhaps there's a way of selecting the opengl doing some library detection. But I think they are developing some other backend based on Vulkan.

[2022-11-09 14:12] lukego commented on #170
@alejandrogallo FYI I have a nixpkgs branch that includes kons-9 over here: https://github.com/NixOS/nixpkgs/pull/197694

[2022-11-09 19:21] alejandrogallo commented on #170
ah that's interesting, it would be cool to know exactly what your workflow ist, mine it's quite dumb, I just add the nix paths to `cffi`
[code]

[2022-11-09 19:45] lukego commented on #170
@alejandrogallo I'm still feeling my way along but for now I have two different ways to pull kons-9 into nix.

First is a stand-alone derivation that builds on the `lispPackages_new` infrastructure in nixpkgs by @uthar: https://github.com/nuddyco/lispnix/blob/main/kons-9.nix

Second is just adding kons-9 to that package collection alongside everything else from quicklisp etc: https://github.com/Ni

[2022-11-09 21:34] kaveh808 commented on #73
@nsmoker Have you had a chance to look into this? No rush, just wondering.

[2022-11-10 11:31] alejandrogallo commented on #170
that's great thanks @lukego I'll be taking a look at it, it would be good to leverage nix to test kons-9, I'm looking to build a crystal viewer for different tasks of the computational chemist toolset, something like http://jp-minerals.org/vesta/en/download.html, but I have to find time for this.

[2022-11-10 21:20] kaveh808 opened #175 "Detailed installation instructions for all platforms -- volunteers needed"
Would be good to have step-by-step instructions for installing the system on MacOS, Linux, and Windows.

Please step up and document one or more platforms if you can.

[2022-11-10 23:05] Hellseher opened #176 "Failed to build on ECL"
Hi,

- kons-9 commit :: 9f9c1ad6504875bf09ea90afdfc0f7ddc68d3df9
- ecl version :: 21.2.1

While preparing your project for Guix I've found the issue during attempt to build with ECL implemintatiation:

[code]

[2022-11-10 23:18] kaveh808 commented on #176
Hi,

Thanks for testing against ECL.

I hooked into the SBCL inspector for our GUI inspector, hence the SBCL-specific call.

Have to admit once we discarded CCL for SBCL I haven't much considered running kons-9 on other implementations. You might try commenting out the `ui-inspector` code entirely and see if that will build.

[2022-11-11 07:40] foretspaisibles commented on #175
What about a script just doing that? We could ask a couple of questions like “do you prefer Brew over MacPorts etc.”  and just go for it? Is a good final step “loading demo.lisp” ?

[2022-11-11 12:56] mikelevins commented on #175
It's probably a good idea to write the per-platform instructions out first, even if we're going to try to automate it. For one thing, working out and documenting the right steps is a good frist step toward automating them.

[2022-11-11 13:06] maacl commented on #15
I have not seen any issues. Personally I would declare victory. Perhaps
consider giving explicit instructions on which dll to get and where to
place it?

On Fri, Nov 11, 2022 at 1:58 PM mikel evins ***@***.***>
wrote:

[2022-11-11 16:43] mikelevins commented on #15
Good idea.

[2022-11-11 17:23] richardjdare commented on #15
I've had no issues on Windows recently. Don't forget that there is a Windows-specific bugfix inside sbcl-win64-tests that hasn't been merged back into main yet. (see here for details https://github.com/kaveh808/kons-9/commit/159d7572847c5dff7500db36581cf1e78c3ef521)

[2022-11-11 19:40] kaveh808 commented on #175
@mikelevins I like both ideas. If you can, please write the instructions for all three platforms.

As for the HOWTO, I think that is a great idea. I have been writing the various demos as illustrations that people can build on.

[2022-11-11 19:43] kaveh808 commented on #15
@richardjdare I had missed that pull request. I'll do it by Monday.

[2022-11-11 23:58] mikelevins commented on #175
Great; will do. I may poke you with questions about the boids demo.

[2022-11-13 07:36] foretspaisibles commented on #175
I can take Mac OS-X / MacPorts, since this is what I am using.

[2022-11-13 16:14] awolven opened #177 "add tests to make sure kons-9 can run in modes suitable for scientific and engineering computing"
Get kons-9 running with *read-default-float-format* set to 'double-float.

The problems arise mostly in the dependencies.

Furthermore, test with (pushnew :3d-vectors-double-floats *features*) for plugins which require double float vectors and matrices.

[2022-11-14 06:21] lukego commented on #125
@awolven I can't find the variable `*framebuffer-scale*` anywhere. We do have a slot `monitor-scale` but that seems to be initialized to 1 on all platforms so I guess that's not it. What am I missing? (Apologies for the slow followup.)

[2022-11-14 10:02] foretspaisibles commented on #177
I am just curious about the application scenario we are thinking of because it is not clear to me why we want to have more precise floats to render graphics. Do you have a high-level workflow in mind, describing the interaction between KONS-9 and an engineering program? Or any pointer to an ongoing conversation around here? Thanks!

[2022-11-14 10:52] lukego commented on #177
I'm using Kons-9 to visualize the results of Monte Carlo simulations running in the same Lisp image. My code is hungry for floating-point precision because it needs to do long chains of calculations on very small (log-)probability values. I definitely don't want any single-floats in my application-level calculations.

I agree with @awolven that it would be great for Kons-9 to interoperate more eas

[2022-11-14 12:01] foretspaisibles commented on #177
I am not questioning at all why scientific computations need double precision but I would like to understand more why KONS-9 should *also* use double floats for graphic-related computations. So understanding better an example of a workflow would be useful to figure out how to make KONS-9 suitable for scientific and engineering computing while still using faster single floats when it comes to graph

[2022-11-14 12:41] lukego commented on #177
@foretspaisibles I believe the requirement here is only for Kons-9 to co-exist with code in the same image that uses double-floats. It can still use single-floats internally.

Here's an example that I think represents mine and @awolven's workflows that doesn't work today:

[code]

Since we will be writing a bunch of engineering code in random files and in the REPL we set `*READ-DEFAULT-FLOAT-FORMA

[2022-11-14 16:11] lukego opened #180 "Undocumented build-time requirement on *READ-DEFAULT-FLOAT-FORMAT*"
Spinning out one specific issue from #177:

kons-9 compilation has an undocumented dependency on the Common Lisp variable `*READ-DEFAULT-FLOAT-FORMAT*` having its default value `SINGLE-FLOAT`. If the value is changed to `DOUBLE-FLOAT` then compilation fails. This issue has bitten at least two real-world users (@awolven and myself.)

This issue could be addressed in at least three different ways:

[2022-11-14 16:15] lukego commented on #177
I made a separate issue #180 about the specific issue that kons-9's requirement that `*read-default-float-format*` be `single-float` is not documented (and potentially unfortunate.)

If that issue captures everything that is actionable here then perhaps we could close this issue.

[2022-11-14 18:50] awolven commented on #177
To whoever said most people don't care about double floats is in err.

In my industry, which is an enormous industry, mechanical engineering, and
in all other engineering disciplines civil, electrical, chemical, default
is double float and nothing else will do, except for possibly 80 bit floats.

Many of the computer applications in engineering are graphical applications
and graphical applications

[2022-11-14 20:58] kaveh808 commented on #125
@lukego In `glfw-gui.lisp` we do the following to get the monitor scale:

[code]

[2022-11-14 21:04] awolven commented on #125
I don't think monitor content scale is supposed to necessarily be an
integer.

On Mon, Nov 14, 2022 at 2:58 PM Kaveh Kardan ***@***.***>
wrote:

[2022-11-14 21:27] kaveh808 commented on #177
It would be good to be able to have the user be able to specify if they want single or double floats when they are loading our system. There are definitely use cases for both.

Let''s figure out how in #180

[2022-11-14 21:29] kaveh808 commented on #180
I think this is because our point type is built on vec3 of the origin package (as opposed to dvec3).

It would be good to be able to have the user easily specify if they want single or double floats when they are loading our system. I'd like to avoid having to specify `f` and `d` formatting.

What would be some good options for doing this?

[2022-11-14 21:48] awolven commented on #180
It needn't be that complicated.  When you need something with a decimal to
be a single float you end with "f0" or you clampf or coerce it to single
float.  When you need something with a decimal to be a double float you end
it with d0.  Those two cases only happen when the lisp "developer" is
optimizing something like point-origin or 3d-vectors.  If it doesn't matter
whether the number is single f

[2022-11-14 22:03] awolven commented on #180
If you read the original issue in #177, you would also notice that I
mentioned that you should be able to specify the type that 3d-vectors and
3d-matrices uses internally.  The API functions of those libraries will
automatically coerce the number you pass in to be the internal
representation specified at build time.  When I build 3d-vectors with
single floats, the tests on my geometric constraint

[2022-11-14 22:43] kaveh808 commented on #180
I like the distinction between a (tool) developer and user of the system. It was not something that had occurred to me. I'm fine with a tool or library developer using explicit notations for single and double floats.

We may also need to make the graphics library code aware of this? If memory serves, the OpenGL calls we use expect single floats, which is why I originally had the point class coerce

[2022-11-14 22:47] kaveh808 commented on #125
@awolven You are probably correct. I recall setting it to 1.0 fixed someone's scaling problem a while back and made the assumption it should be a whole number.

On my available displays, the scalings are 1.0 and 2.0, so I can't test fractional values. If anyone does test this, please let me know.

[2022-11-14 22:53] awolven commented on #180
The code will not be complicated to change, the problem is communicating
the issue to developers who create dependencies, mostly those who are
creating libs for use other than just kons-9.  People get stubborn about
typing "f0".

In krma, which is the vulkan engine I am developing for kons-9, you can
pass any real number to an api function, doubles, ratios, integers, floats,
whatever.

On Mon, Nov

[2022-11-14 23:02] mikelevins commented on #175
Maybe we should coordinate. I was planning to write MacOS instructions first, because that's my default dev system, though I also have Windows and Linux dev machines.

You could write and I could edit, or I could write and you could edit, and then I (or another volunteer) can write the Linux and Windows instructions, conforming to the same general style.

If you have a preference, or if you get. d

[2022-11-15 06:56] lukego commented on #180
@awolven How would a "failing test" for this look? Can we spin this out into an actionable/testable/fixable issue of its own?

For my part I don't mind which float format kons-9 uses internally provided that there is automatic conversion at the border(s) e.g. between my application and kons-9 and OpenGL.

If dependencies require exact float formats to be chosen at build-time, and there is a confli

[2022-11-15 07:36] lukego commented on #180
Maybe I speak too soon. In the future I'd like to use Kons-9 for KiCad-like PCB models. I may well want to have a single representation both for visualizing in Kons-9 and for logical operations like design-rule checks. In that case I'd want to build Kons-9 with native double-float support. I'm probably on the same path as @awolven but a few steps behind.

[2022-11-15 15:40] mikelevins commented on #175
In order to produce instructions for all three platforms with a common style and organization, I intend to organize them all  the same way. I'm posting the planned organization in case @foretspaisibles or anyone else gets something written before I do, in hopes that we can nevertheless wind up with consistent content and style.

Feel free to push back on aspects of the proposed organiation that yo

[2022-11-15 15:45] awolven commented on #180
Luke,

What you suggested is probably the way to go.  I talked to Nicolas Hafner
about doing that with 3d-vectors a couple of years ago.  He kind of
grumbled about it.  I'll have to look at it again to refresh my memory on
what the challenge is.

On Tue, Nov 15, 2022 at 1:37 AM Luke Gorrie ***@***.***>
wrote:

[2022-11-15 15:53] awolven opened #183 "another scientific and engineering issue: z-up vs. y-up"
It's probably good that I forgot to lump this together with the *read-default-float-format* stuff, because is a whole nuther ball of wax.  In most content creation progams for artists, Y is the UP vector, so the grid plane is the x-z plane and y is up with the camera arcball movement.  Usually in CAD software, though, Z is UP because of it's roots in pencil drafting.

We should be able to dynamica

[2022-11-15 20:27] kaveh808 commented on #183
Agreed.

This would only be a display setting, yes? For example we generate our primitive curves to lie in the XY plane. They would still do so in Z-up mode, only appear lying flat on the "ground".

[2022-11-16 04:01] awolven commented on #183
if you create a human body standing up with y-up, when you switch the mode to z-up the human body will be lying down.

[2022-11-16 14:43] WillAdams commented on #175
One thing which would help is just explaining each step, and offering a sensible default, or explaining why one can't use a default --- I was blocked on the Windows version loading in script mode and not having available the module for dealing w/ file paths.

[2022-11-16 14:47] mikelevins commented on #175
Thanks; that's good advice.

I'll try to write the instructions step-by-step, including every necessary step, just as I approach similar things when working as a tech writer. I encourage other authors to do the same.

You and others can help us get this right by trying to follow our instructions exactly as given, and complaining to us when you're blocked.

[2022-11-16 15:59] bigos commented on #175
This is my attempt. Please feel free to criticise me, offer suggestions, or say anything relevant.

https://github.com/bigos/kons-9-notes/blob/main/detailed-installation-instructions/Linux.org

[2022-11-16 21:17] awolven commented on #180
Luke,

I have a versions of 3d-vectors and 3d-matrices which define separate
packages for single float and double float: :3d-vectors.f, :3d-vectors.d,
3d-matrices.f and :3d-matrices.d in repositories in
https://github.com/awolven?tab=repositories.  To work with them, you :use
one or the other in your defpackage.

-AKW

On Tue, Nov 15, 2022 at 9:46 AM Andrew Wolven ***@***.***> wrote:

[2022-11-16 22:44] mikelevins commented on #175
Thanks for your quick draft.

I read it, followed it on a local Ubuntu system that did not have kons-9 on it, and rewrote the starting sections to be more in line with the style I had in mind. You can find my rewrite here:

https://github.com/kaveh808/kons-9/tree/mikelevins-draft-instructions-linux/doc

in the file install-linux.md. Please push back on any mistakes or other things you don't like.

[2022-11-17 01:22] bigos commented on #175
@mikelevins I have plagiarised your work with some modifications. Does anything worth plagiarising back stand out?

[2022-11-17 05:46] bigos commented on #175
https://github.com/bigos/kons-9-notes/blob/main/detailed-installation-instructions/Windows.org

This is my go at Windows instructions.

[2022-11-17 12:29] mikelevins commented on #175
We're getting there. I have a full day today, but I'll make another pass on the Linux instructions and tackle a rewrite of the Windows version as soon as I can.

There are a number of standard tech-writing things we can do to get an improved result. I don't want to turn this comment into a tome about tech writing, but I'll offer one example, to give you the idea of the kind of thing I mean.

A sta

[2022-11-17 12:55] bigos commented on #175
@mikelevins That's experience talking. I am looking forward to seeing your improved version.

[2022-11-17 20:03] mikelevins commented on #175
I like _Inside Macintosh_ too, though I'm biased. I started my Silicon Valley career working as a tech writer in Apple's tech pubs department, the same people who wrote and published _Inside Macintosh_. That's where I learned the craft of technical writing and the style and rules I habitually observe are derived from Apple's house style.

[2022-11-17 21:35] awolven commented on #175
mikel, maybe you could critique the krma documentation
https://github.com/kaveh808/kons-9/files/10024972/krma.documentation.pdf

It's pretty rough right now.

On Thu, Nov 17, 2022 at 2:03 PM mikel evins ***@***.***>
wrote:

[2022-11-18 00:19] mikelevins commented on #175
I'm happy to look at it, but you'll have to be patient; there are several things competing for my attention right now, and I'm behind on a couple of them. I'm also rather forgetful, so you'll probably need to remind me, maybe more than once.

Do you know how to read editor's marks? If not, here's a cheat sheet:

https://amstp.northwestern.edu/documents/proofreading-marks-at-a-glance.pdf

[2022-11-18 18:56] mikelevins commented on #175
They have a style guide online, but I wouldn't try to learn technical writing from it. It's more intended for people who are already tech writers, and who want to know how to make their work sound like Apple.

For what it's worth, here it is:

https://help.apple.com/pdf/applestyleguide/en_US/apple-style-guide.pdf

They do reference _The Chicago Manual of Style_ as a reference for style and usage.

[2022-11-19 11:04] foretspaisibles commented on #175
For the kind of documentation we want to write here, I generally appreciate the FreeBSD Handbook as an example. It is widely available, detailed but terse and most of the time sets clearly the audience and the outcome expectations at the top of the document. This can be seen for entry level documentation or most advanced documentation:

 - https://docs.freebsd.org/en/books/handbook/basics/
 - http

[2022-11-20 21:14] mikelevins commented on #175
The _Elements of Style_ is still great.

[2022-11-22 17:53] foretspaisibles commented on #177
Thank you @lukego that's a very helpful description of what you would like to do. I do not have experience with automated testing for Slime/Emacs or Sly/Emacs but we could start with a plain lisp test.

Yet that could be interesting to learn about UX-testing in Emacs for the future.

[2022-11-23 16:27] mikelevins commented on #175
I'm reading through it again this morning. I'll offer a few observations here.

I think the most constructive things I can offer now are general suggestions--the kind of thing that a more formal process would call "document-design edits." An orthodox approach would be to come to consensus on the gross organization of the subject matter--the document design--and then fill in the sections until the

[2022-11-23 19:47] kaveh808 commented on #175
Thanks for the feedback and recommendations @mikelevins. Very well thought out.

I especially agree with the step by step installation guide. We need to make it easy to try out karma with kons-9. I know it's something that always trips me up. Still trying to wrap my head around the interactions of Git, Quicklisp, and asdf.

Maybe as a starting point @lukego could write up the steps he took to get

[2022-11-23 19:50] mikelevins commented on #175
I'm also on the hook for new drafts of the step-by-step kons-9 install instructions. I know it's taking me a long time; bear with me. They're coming. And thanks to the other controbutors who've pitched in.

[2022-11-23 19:53] kaveh808 commented on #175
I appreciate everyone's help in this volunteer effort. And I am taking the long view. Please don't feel rushed.

[2022-11-23 19:56] awolven commented on #175
mikel,

Thanks for moving forward with this.  I will break out the API reference
from the rest of the document.  What do you think of breaking out the
installation instructions from the architecture description?  Right now
there needs to be work done on the actual code.  I may add an extra
argument to most api functions, I may add another "flavor" of draw call to
the existing three.  Glaring usabi

[2022-11-23 22:46] mikelevins commented on #175
I like the idea of separating installation from other content. Good installation instructions tend to be pretty long, and breaking them out into a separate document will make the introductory document more approachable.

It might be helpful to give the intro document a name like "Onstrocution" or "Overview", and include in it a brief description of what the other documents are. Readers are likely

[2022-11-24 08:27] foretspaisibles opened #195 "Add test coverage to the test suite"
We now have a small test suite running on every push and we would like to see the test coverage. SBCL has some special extensions to do so.

Having the `development/testsuite` tool writing the details to test coverage on standard output would be good enough, or having a separate tool `development/testcoverage` doing so if that seems more practical.

Bonus points to pack the test coverage output in

[2022-11-24 08:29] foretspaisibles opened #196 "Make test suite run faster in GitHub Actions"
The test suite takes 8-16 minutes to complete in GitHub Actions, most of the time is spent installing MacPorts and then a few specific ports. Could GitHub Actions caching be of some help here to reduce the time?